My_workflow_4 (2).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.moobycinemas.com/cartelera",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1240
      ],
      "id": "7c4af2d2-600d-48a1-8030-30de3bad5bc0",
      "name": "Mooby Cinemas",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.cinemamalda.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1560
      ],
      "id": "570d72f0-c337-4f61-9ed8-3eca50fdd7a9",
      "name": "Cinema Malda"
    },
    {
      "parameters": {
        "url": "https://www.phenomena-experience.com/programacion-peliculas/todas.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1840
      ],
      "id": "72c99f9f-743e-424b-8dd3-530774f6d377",
      "name": "Phenomena Experience"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "main nav a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3320,
        1240
      ],
      "typeVersion": 1,
      "id": "93daf992-65d7-49bd-8cc3-eec07e64dd1c"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3520,
        1240
      ],
      "id": "ac96c0da-a59b-410d-920c-a9bcd2fe32a6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=1",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json.Datos[0].split(':')[1].trim() }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json.Datos.find(item => item.includes('Direcció')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json.Datos.find(item => item.includes('Durada')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "={{ $json.Datos[1].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "={{ $json.translatedText }}",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "={{ $json.Datos[5].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json.Sinopsis[1].replaceAll('\\n','. ').replaceAll('·','').replaceAll('. .','..')}}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Idioma original')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json.Datos[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        1240
      ],
      "id": "d7138969-79d1-48a3-9e24-2fb5b4d2ead0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6100,
        1700
      ],
      "id": "f28430c9-f0b0-4553-86f2-d40797d0dbbe",
      "name": "Merge"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "a.movie",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3320,
        1560
      ],
      "typeVersion": 1,
      "id": "99df4675-ec05-43c5-837d-9690789ad447"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3760,
        1560
      ],
      "id": "f593d854-fc1a-47a8-8917-90aa457beee5",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.event-titulo > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract2",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3320,
        1840
      ],
      "typeVersion": 1,
      "id": "83b85c28-b9bb-4066-9017-cd239de07ab3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3520,
        1840
      ],
      "id": "3952f38a-757e-4ce2-83e2-44cb002928db",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "321beee9-3545-4c0e-a1dc-7f1ac2ed813d",
              "name": "ID Cine",
              "value": 2,
              "type": "number"
            },
            {
              "id": "32cb8ca4-34c4-4edc-9926-bbcd23b54575",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "92781ded-1250-4675-baec-eee4ba1fb31d",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "faf38faa-e00d-4e53-84d6-adda080df36b",
              "name": "Reparto CAS",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "136219d8-4570-4b31-8c49-74d0695daef8",
              "name": "Año",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[1].trim() }}",
              "type": "number"
            },
            {
              "id": "c0c4223d-19b0-4a8b-9acd-59832bd57027",
              "name": "Dirección",
              "value": "={{ $json.Datos[0].split('/')[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "cd221c68-851b-455f-8837-ea0156a8dbbd",
              "name": "Duración",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[5].trim() : $json.Datos[0].split('/')[4].trim() }}",
              "type": "string"
            },
            {
              "id": "5e25fd1d-cf53-4a4e-9a53-bdebd156a4c5",
              "name": "Clasificación",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[7].split(' y distintivo')[0].trim() : $json.Datos[0].split('/')[6].split(' y distintivo')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "19e2c9ff-4fad-4605-b6ed-9bf191a7da9c",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "ae8553c8-a6ba-4896-813c-479069aa8fb6",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "3c01754f-a338-4a58-9542-50cc0a5f4ba2",
              "name": "Género CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[4].trim() : $json.Datos[0].split('/')[3].trim() }}",
              "type": "string"
            },
            {
              "id": "8fea8562-4b7f-4374-acee-6d901c24b1ab",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[6].trim() : $json.Datos[0].split('/')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "f639932e-691e-4c3c-a1db-ab230e54cd6e",
              "name": "País CAS",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "4b8a5778-c7b9-4c64-be2a-2527188f3e1c",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Datos[1].replace('Sinopsis:','').trim() }}",
              "type": "string"
            },
            {
              "id": "1e21b454-c7e3-4433-aa27-920e4fffaea8",
              "name": "Nombre Película ENG",
              "value": "={{$json.Datos[0].split('/')[0].replace('»', '').replace('«','').trim()}}",
              "type": "string"
            },
            {
              "id": "9610c84b-4a51-47e3-8d2b-90a340012a11",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6a95e1bc-0a02-4235-a2be-15fadb2d080f",
              "name": "Reparto CAT",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "a2212737-2dbe-40bc-a373-4c3393ccf787",
              "name": "Reparto ENG",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "22620201-81bd-4ced-bf73-d7dc53d04b55",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "94881cac-fb35-459d-bd19-a00dd4960cce",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "2f9f914d-4569-4fe4-8dfb-60b1f72c19e1",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "84839f44-6a9e-4043-aca2-2d1818db2668",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "d192463f-2987-46f6-a3a4-049723e2f1ee",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "9d3a623c-0591-46ed-842c-66c9f3f6d486",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "549a22bc-d5b3-4455-820f-67f2917f0233",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "56c33424-0878-47e5-a35f-448275782f2d",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "b38967c9-2537-405d-8e07-6994a40808a4",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "2119c3a6-3088-4e07-b1db-747ff0b72c2b",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "bd1a853d-1dff-4c7c-9d83-8d9b26839194",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d4486a73-8770-4818-b77a-431a0adaed3a",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "2d4be671-9507-4b91-8fd8-299a4b3ab645",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        1560
      ],
      "id": "7cd5e910-d4cb-4d77-9bf4-9a0554871762",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2760,
        1560
      ],
      "id": "2ca85b8e-1c97-4655-b6ee-21d0686af611",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d029203-9a5f-47e4-ac47-0d5fd84f43f7",
              "name": "ID Cine",
              "value": 3,
              "type": "number"
            },
            {
              "id": "5ba39458-f651-47e8-91b0-72b385986ef7",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "e1c10463-1487-4ac0-9e50-7072ddb5ad68",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "543228af-acac-41bb-8b9d-9a9827dce09c",
              "name": "Reparto CAS",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "3fc493bf-8fd0-4ae7-94a9-1536d7952214",
              "name": "Año",
              "value": "={{ $json.Datos.split('·')[0].split(',').last().trim().isNumeric() ? $json.Datos.split('·')[0].split(',').last().trim() : 0 }}",
              "type": "number"
            },
            {
              "id": "0ad40229-2ee2-4f13-9f65-33eba5758bc2",
              "name": "Dirección",
              "value": "={{ $json.Datos.split('·')[0].split(/, (?:1|2)/)[0].replace('Dir.','') }}",
              "type": "string"
            },
            {
              "id": "940a0b95-e4e8-4e4c-b3d8-42c59aa151b7",
              "name": "Duración",
              "value": "={{ $json.Datos.split('·')[2].trim().replace(\"'\",\" min\") }}",
              "type": "string"
            },
            {
              "id": "03360bef-659d-4495-9b80-85f11f8ecb37",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "b4f189db-de64-4408-b90a-6a9b1c37eb91",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "b799d688-40f1-4a33-af5b-5d7cba573e44",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "14bcbdb8-e4a5-487a-85d7-45e3ccb6ddb3",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "9a535434-0c41-4909-9c24-1aae0525765c",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos.split('·')[4].trim().startsWith('V') ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim()  }}",
              "type": "string"
            },
            {
              "id": "0d5fc970-960e-4337-9a80-24dc78cc64b2",
              "name": "País CAS",
              "value": "={{ $json.Datos.split('·')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f3a5ba39-4ea9-483c-a9ac-e4135d6b52d1",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "7fd85551-be29-4e4e-87bf-1c685e434d14",
              "name": "Nombre Película ENG",
              "value": "={{ $json.Titulo2 }}",
              "type": "string"
            },
            {
              "id": "c36c5a17-14eb-48c2-9bd9-f15830641388",
              "name": "Fotograma",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "502b980c-e167-4c4f-bb41-99e79bcb8b63",
              "name": "Reparto CAT",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "20baf885-af39-4382-97a3-5598939df3f9",
              "name": "Reparto ENG",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "6382a041-fc62-4796-b5d9-7428abea1df2",
              "name": "Cartelera",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "9f4621f7-e916-4777-89bb-5bf13767c292",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "7b4215cb-a13f-42b4-8143-1a46ade6530f",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "bea1ae2b-31f4-4f41-8904-c13ba7fbb55d",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "994c3d42-c71d-4106-902e-085f21a78ed8",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "a804c21d-9a4c-4efc-9be7-e260b3877dd9",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "6928ff49-b5aa-4981-b786-ba0dc17ee806",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "58862633-c5d0-4a63-9cf6-6ca69b5d23a2",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "81521271-f785-42aa-91ed-d38f9c8c690f",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "e5df1b4d-7b78-4442-a899-634acd52b412",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b7452a3-7392-4778-9bd8-1851beafbe89",
              "name": "Pais ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d64779fa-8cba-4a50-b4d9-1bf8478d1c2c",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "5822077b-6f56-494c-bdd7-dee2d8718705",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        1840
      ],
      "id": "1fcd9f55-90a4-43fe-ad67-7ec5e37c0669",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Nombre Pelicula CAS"
            }
          ]
        },
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        6320,
        1500
      ],
      "id": "0e9e22eb-e8dc-4ed4-aab0-8b3d87631e72",
      "name": "Sort"
    },
    {
      "parameters": {
        "url": "=https://www.moobycinemas.com{{$json.Peliculas}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        1240
      ],
      "id": "207a0f85-9245-436c-96ae-a5092ced1334",
      "name": "Mooby Cinemas Peliculas",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dee1f996-48f5-484e-9bed-f58240b87b78",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "precios-cine-malda-barcelona-preus",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "43d631a1-6518-4b1d-9880-81136048a5a7",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "cartelera-dia-dia",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "61e30095-8874-495d-a3eb-d57b666f7740",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "sesionteta",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3980,
        1560
      ],
      "id": "d9a1a6f6-d6ce-463b-8788-1316e223ae28",
      "name": "Filtro href Peliculas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35e1977d-8c9d-4554-9cf8-2afb43b919c6",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "/ciclo/",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1eadb5ad-7efe-4892-9db7-e84b9b1f3add",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "programa-doble-sorpresa-club-phenomena",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3760,
        1840
      ],
      "id": "cf16df8c-910b-4e1e-8c32-a1d8601c6025",
      "name": "Filtro href peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1560
      ],
      "id": "fe5345d3-b6e9-4654-8842-05fbf9f4bf47",
      "name": "Cinema Malda Peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1840
      ],
      "id": "e26d9f01-47bb-4985-b741-9eb03f1fea75",
      "name": "Phenomena Experience Peliculas"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "table > tbody > tr",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "body > main > article > div.details > div > figure > picture > img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.synopsis > div",
              "returnArray": true
            },
            {
              "key": "Horario",
              "cssSelector": "body > main > section > div > div > div > div",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Mooby Cinemas",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3940,
        1240
      ],
      "typeVersion": 1,
      "id": "f251300f-6040-4635-826a-2a7050cf6c5f"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div.titulo",
              "returnValue": "html"
            },
            {
              "key": "Reparto",
              "cssSelector": "div.datos1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.datos2"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.datos3"
            },
            {
              "key": "Poster",
              "cssSelector": "img.ficha-img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Fotograma",
              "cssSelector": "img.videoin",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Titulo2",
              "cssSelector": "div.titulo span"
            },
            {
              "key": "Horario",
              "cssSelector": "div.row.row-pases",
              "returnArray": true
            },
            {
              "key": "test",
              "cssSelector": "body > main > section:nth-child(6) > div > div > div > nav > button",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Phenomena",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4460,
        1840
      ],
      "typeVersion": 1,
      "id": "25736768-c680-407e-b290-5dc8571f8d90"
    },
    {
      "parameters": {
        "content": "## Cartelera",
        "height": 1660,
        "width": 2560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        420
      ],
      "typeVersion": 1,
      "id": "e0f40497-09d2-47cc-b754-7f4101106702",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6500,
        1480
      ],
      "id": "3f8ebb7a-7e2b-40b4-a933-170085c162d2",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "function eliminarDuplicadosYMantenerMasLargo(array) {\n    if (!array || array.length === 0) return [];\n\n    const agrupadosPorNombre = array.reduce((acumulador, actual) => {\n        const clave = actual[\"Nombre Pelicula CAS\"];\n        if (clave === undefined) return acumulador;\n\n        if (!acumulador[clave]) {\n            acumulador[clave] = [];\n        }\n        acumulador[clave].push(actual);\n        return acumulador;\n    }, {});\n\n    const resultado = Object.values(agrupadosPorNombre).map(grupo => {\n        return grupo.sort((a, b) => JSON.stringify(b).length - JSON.stringify(a).length)[0];\n    });\n\n    return resultado;\n}\n\nconst peliculasUnicas = eliminarDuplicadosYMantenerMasLargo($input.first().json.data);\n\nconst cleanTitles = peliculasUnicas\n  .map(p => p[\"Nombre Pelicula CAS\"])\n  .filter(t => typeof t === \"string\" && t.trim() !== \"\");\n\n// Divide en chunks\nconst chunkSize = 30;\nconst chunks = [];\n\nfor (let i = 0; i < cleanTitles.length; i += chunkSize) {\n    chunks.push(cleanTitles.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((titles) => ({\n    json: {\n        titlesToTranslate: titles,\n        peliculasUnicas\n    }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6600,
        1920
      ],
      "id": "b78bd380-d195-4e9e-b016-10aece81705f",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 68,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceSpecialChars().replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d]))}}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4460,
        2140
      ],
      "id": "6f5fe590-54f6-480f-8210-36a4b193c10b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Pases",
        "height": 1340,
        "width": 2560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        2120
      ],
      "id": "27f39e99-fa3e-493a-9b05-1798c9f6fee5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1201,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "cf92fa2a-b9d1-4e75-82ea-6ade5f5f60c2",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "46861acf-7de1-4323-a09a-f55285dec770",
              "name": "VERSION CAT",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "5e56a5af-adea-429a-ab35-be7ede1a4ccc",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4460,
        2300
      ],
      "id": "3adcd1bd-197f-44c2-a40a-075319ee7c75",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pelis_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pelis_icub.xlsx",
          "sheetName": "Pelis_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7960,
        1300
      ],
      "id": "ddf464d4-c115-4524-a90c-45a1c329ffb9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5340,
        2500
      ],
      "id": "4e10b2b7-be2a-4a5b-9d44-35fbbca5781c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37176db1-f62a-4205-806b-514864947749",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'].trim() }}",
              "type": "string"
            },
            {
              "id": "595d6e65-2621-46f0-bc87-707e29504c49",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "fca85a2b-7847-49cc-82f7-920fc44b34f5",
              "name": "HORARIO CAS",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAS'] : ($json['HORARIO CAS'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAS'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "ffba3f28-578f-47c0-9e78-b67c00a370cc",
              "name": "HORARIO CAT",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAT'] : ($json['HORARIO CAT'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAT'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "a0a08e68-0f51-48b7-a00b-244efbb103c5",
              "name": "HORARIO EN",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO EN'] : ($json['HORARIO EN'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO EN'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "6056c15e-06fe-47a3-9f20-3b31c6f7bdcc",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "4617c1e6-25d6-4720-a165-a572c4fc3617",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "9b8f5f2a-d474-41d0-97eb-26362f37fe99",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6520,
        2600
      ],
      "id": "118f8b57-68b1-406f-8174-53ae1faa46b1",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "NOMBRE PELICULA"
            },
            {
              "fieldName": "ID CINE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        6000,
        2600
      ],
      "id": "1bd0bd9e-fc96-4d2b-ac75-0a61a1784f93",
      "name": "Sort1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Nombre Pelicula CAS",
              "field2": "NOMBRE PELICULA"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7260,
        2580
      ],
      "id": "7ce88763-bbff-4b01-9f58-82257b67052b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0756cf35-1b44-493b-9c70-af3c4467fe46",
              "name": "ID",
              "value": "={{ $itemIndex + 1 }}",
              "type": "string"
            },
            {
              "id": "29573d06-c424-43f4-ab9f-f1c40a2f2748",
              "name": "ID PELI",
              "value": "={{ $json['ID Pelicula'] }}",
              "type": "string"
            },
            {
              "id": "99c30b43-9847-479d-8e6e-6dbfa21ea17a",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'] }}",
              "type": "string"
            },
            {
              "id": "4e86d1e7-0bfd-4d71-a7f6-1c5a75660a58",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "aba80cdb-5ac3-467f-b836-ae504ab6c818",
              "name": "HORARIO CAS",
              "value": "={{ $json['HORARIO CAS'] }}",
              "type": "string"
            },
            {
              "id": "6cebd81f-d149-42dc-8b49-ba8c1195ac2a",
              "name": "HORARIO CAT",
              "value": "={{ $json['HORARIO CAT'] }}",
              "type": "string"
            },
            {
              "id": "cda04d95-1441-43b2-8ed3-1fca7a156225",
              "name": "HORARIO EN",
              "value": "={{ $json['HORARIO EN'] }}",
              "type": "string"
            },
            {
              "id": "dab277ef-03c6-48c7-a905-3786827a18e9",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "7464b792-6ada-446e-b169-7eaa46592b3f",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "38052f8b-141c-4d26-8538-3ffc739c466e",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7500,
        2580
      ],
      "id": "fc6472bf-eede-455b-b4aa-cb42e127a8c5",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5aa846c7-dc5e-412f-acd4-98809a28ddcc",
              "name": "ID Pelicula",
              "value": "={{ 1 + $itemIndex + 27142 }}",
              "type": "string"
            },
            {
              "id": "ad178d42-852f-4c70-861c-65dbe9b63b9c",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json['Nombre Pelicula CAS'] }}",
              "type": "string"
            },
            {
              "id": "c3c33170-19c8-4d7e-98dd-05cd201f42bb",
              "name": "Reparto CAS",
              "value": "={{ $json['Reparto CAS'] }}",
              "type": "string"
            },
            {
              "id": "5624ddd1-7e76-4dfb-a931-af57a64fa264",
              "name": "Año",
              "value": "={{ $json['Año'] }}",
              "type": "number"
            },
            {
              "id": "8211ab89-5e7a-48f7-92de-b6e512e2ef38",
              "name": "Dirección",
              "value": "={{ $json['Dirección'] }}",
              "type": "string"
            },
            {
              "id": "86c57b27-c684-4781-bf5d-5f5620f459f8",
              "name": "Duración",
              "value": "={{ $json['Duración'] }}",
              "type": "string"
            },
            {
              "id": "53aadef4-044e-4785-a679-03892a3e3c79",
              "name": "Clasificación",
              "value": "={{ $json['Clasificación'] }}",
              "type": "string"
            },
            {
              "id": "7be1865d-673d-45d0-be1a-013f99ba9c3d",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "f84b2039-f201-4a1d-8409-d245d3f3f670",
              "name": "Fecha",
              "value": "={{ $json.Fecha }}",
              "type": "string"
            },
            {
              "id": "0f1d0f77-b424-4a24-ad7d-1e510063834a",
              "name": "Género CAS",
              "value": "={{ $json['Género CAS'] }}",
              "type": "string"
            },
            {
              "id": "04df362b-1d09-4515-887c-8d02bad19a07",
              "name": "Idioma CAS",
              "value": "={{ $json['Idioma CAS'] }}",
              "type": "string"
            },
            {
              "id": "a28342a0-2f46-41e9-a7db-02c111ba6d0b",
              "name": "País CAS",
              "value": "={{ $json['País CAS'] }}",
              "type": "string"
            },
            {
              "id": "c2ebccd6-febe-4dee-9703-872c9dd20d49",
              "name": "Sinopsis CAS",
              "value": "={{ $json['Sinopsis CAS'] }}",
              "type": "string"
            },
            {
              "id": "3c0bb654-788d-40b0-955b-afed70fbb96a",
              "name": "Nombre Película ENG",
              "value": "={{ $json['Nombre Película ENG'] }}",
              "type": "string"
            },
            {
              "id": "ab51b9d9-a8e0-4db0-bd47-92b948a8fde4",
              "name": "Fotograma",
              "value": "={{ $json.Fotograma }}",
              "type": "string"
            },
            {
              "id": "6dc6becb-810a-4f7b-8eaf-6b4a3a4d1990",
              "name": "Reparto CAT",
              "value": "={{ $json['Reparto CAT'] }}",
              "type": "string"
            },
            {
              "id": "3ac23e6d-bdd6-45cf-bff2-f451bf49eca4",
              "name": "Reparto ENG",
              "value": "={{ $json['Reparto ENG'] }}",
              "type": "string"
            },
            {
              "id": "ca61cd81-082a-4a88-9c65-890e630efb2b",
              "name": "Cartelera",
              "value": "={{ $json.Cartelera.split('/').last() }}",
              "type": "string"
            },
            {
              "id": "3bfa65fc-1b16-45e1-a01f-6f564eda9991",
              "name": "Género CAT",
              "value": "={{ $json['Género CAT'] }}",
              "type": "string"
            },
            {
              "id": "b0787aba-cc16-4596-9384-ee1194da7c44",
              "name": "Género ENG",
              "value": "={{ $json['Género ENG'] }}",
              "type": "string"
            },
            {
              "id": "54ca0be3-3510-4137-94cd-18797b86bc39",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "49b4d7a7-7c59-4fe5-b2d5-b09931b132e7",
              "name": "Sinopsis CAT",
              "value": "={{ $json['Sinopsis CAT'] }}",
              "type": "string"
            },
            {
              "id": "d7031a72-9f5c-45e4-8702-6f8e075671df",
              "name": "Sinopsis ENG",
              "value": "={{ $json['Sinopsis ENG'] }}",
              "type": "string"
            },
            {
              "id": "ddd0a62e-bf5a-42c6-8ee7-9e39a6eaa10d",
              "name": "Imagen CAS",
              "value": "={{ $json['Imagen CAS'] }}",
              "type": "string"
            },
            {
              "id": "148d111a-b6ac-48e8-9061-747913b0ad54",
              "name": "Idioma CAT",
              "value": "={{ $json['Idioma CAT'] }}",
              "type": "string"
            },
            {
              "id": "0fadc1ea-5fd6-46ea-a50e-972a571c3948",
              "name": "Idioma ENG",
              "value": "={{ $json['Idioma ENG'] }}",
              "type": "string"
            },
            {
              "id": "967d0f1b-e7ef-4a1f-bff5-21ae1597e724",
              "name": "País CAT",
              "value": "={{ $json['País CAT'] }}",
              "type": "string"
            },
            {
              "id": "ba3a7ee7-e53c-43c9-ba7e-7d86642c7c2f",
              "name": "País ENG",
              "value": "={{ $json['País ENG'] }}",
              "type": "string"
            },
            {
              "id": "ce3e9a43-4cd9-41a6-9651-66197115bda7",
              "name": "Imagen CAT",
              "value": "={{ $json['Imagen CAT'] }}",
              "type": "string"
            },
            {
              "id": "f7b08d83-49cb-49b1-8ca0-9d493a7f3c9f",
              "name": "Imagen ENG",
              "value": "={{ $json['Imagen ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7660,
        1340
      ],
      "id": "d1c60926-03e2-491c-9cd0-e5551a8d4578",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pases_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pases_icub.xlsx",
          "sheetName": "Pases_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7960,
        2580
      ],
      "id": "61db33bc-3ef6-4c02-9b87-dba8b4249915",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        2400
      ],
      "id": "3ae47aee-3ef5-41a1-adbd-dbe81eb818cf",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract9",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        2400
      ],
      "typeVersion": 1,
      "id": "027421c4-012b-4f9b-893c-50a42695901e"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2760,
        2860
      ],
      "id": "6d33e8eb-81ca-498e-a2b4-d57d0d087a22",
      "name": "Wait",
      "webhookId": "512a5877-0277-458b-bf96-5110fa96b5d6"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract13",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        2400
      ],
      "typeVersion": 1,
      "id": "289fb80f-d8fb-4f30-9f6c-a9526eab55d3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1038,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        2400
      ],
      "id": "e7660f3b-19d9-411d-b8ad-3ce5f18f1d8b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45dd401d-5e77-4482-9aec-b2fa6c1b7c70",
              "leftValue": "={{ $json['NOMBRE PELICULA'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        6260,
        2600
      ],
      "id": "6b231499-de0b-40d8-b2cf-085e0e31b0af",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8340,
        2060
      ],
      "id": "ffb0607a-664a-413d-b317-9c9ea4868a9e",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        8100,
        2060
      ],
      "id": "29ba1260-7a98-4c56-8820-74f5fef41bad",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Peliculas.replaceAll('/','') }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        1060
      ],
      "id": "33c38109-63da-4213-a887-c52912a8307b",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "0092331a-39ff-4afd-9462-19001aec12d7",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 429,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        40,
        1060
      ],
      "id": "265b5c14-b453-4677-a436-c06884bf24bc",
      "name": "Filter1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.api }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        1060
      ],
      "id": "8274b22b-a88c-4f41-8fcf-e23daddae18a",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Titulo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1060
      ],
      "id": "627e50ce-d744-4847-85c0-31cf788b9de9",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1220,
        1060
      ],
      "id": "eca15ed5-220b-487e-b53a-3d660d8ffa8a",
      "name": "Filter2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        600,
        1060
      ],
      "id": "0fa0f6b8-e193-4698-abbf-24294c230707",
      "name": "Wait1",
      "webhookId": "ec38c35e-8d62-4d48-8e11-75ed1f9bebb5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d8530c-c351-4c8d-87e2-1ecc8096f1bd",
              "leftValue": "={{ $json['ID PELI'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7720,
        2580
      ],
      "id": "3961aed4-ebe7-4820-a2c8-9c3e14416e26",
      "name": "Filter3"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.sinopsi > p",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "#genesis-content > div.side > img",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days",
              "returnArray": true
            },
            {
              "key": "Trailer",
              "cssSelector": "div.video > iframe",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days > div.day",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Malda",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4460,
        1560
      ],
      "typeVersion": 1,
      "id": "50d0a786-e2b3-4cdd-89c0-658382304c13"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5580,
        1340
      ],
      "id": "f9be1e29-260e-4282-9661-584f218adbfd",
      "name": "Merge4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5480,
        1540
      ],
      "id": "6bdc0acf-f008-440c-8bb9-578506cdd029",
      "name": "Merge5"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        2400
      ],
      "id": "b5e373a5-19af-413b-944b-f0b834094d79",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6bf1a5c-79db-4d9b-a79a-a2cae0c2bd55",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.message.content.Nombre || $json.message.content[\"Nombre de película\"] }}",
              "type": "string"
            },
            {
              "id": "668eefb5-a90a-48ad-a628-5d5f9785e48d",
              "name": "Género CAS",
              "value": "={{ $json.message.content[\"Género\"] }}",
              "type": "string"
            },
            {
              "id": "8aedbb6c-492e-4e9a-becd-9749884b3b68",
              "name": "País CAS",
              "value": "={{ $json.message.content[\"País\"] }}",
              "type": "string"
            },
            {
              "id": "c07c7f9d-9517-45ed-9292-f5554a705f58",
              "name": "Sinopsis CAS",
              "value": "={{ $json.message.content.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "ea5dfbff-dc26-4d00-b877-70ed27510be3",
              "name": "Nombre Película ENG",
              "value": "={{ $json.message.content.Name }}",
              "type": "string"
            },
            {
              "id": "bd362771-a5ba-4d72-869b-d27eab1d506b",
              "name": "Género ENG",
              "value": "={{ $json.message.content.Genre }}",
              "type": "string"
            },
            {
              "id": "db9b9b58-6cad-4f1f-aa0e-336b59ecdb21",
              "name": "=Idioma ENG",
              "value": "={{ $json.message.content.Language }}",
              "type": "string"
            },
            {
              "id": "226f780f-248a-451f-9b79-a30c85b05c2b",
              "name": "País ENG",
              "value": "={{ $json.message.content.Country }}",
              "type": "string"
            },
            {
              "id": "c73d672b-8bd1-4467-97ce-193ec0b2dac0",
              "name": "Sinopsis ENG",
              "value": "={{ $json.message.content.Synopsis }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        1060
      ],
      "id": "beaa9da9-c034-408f-bc08-31d0310bac6f",
      "name": "Edit Fields14",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Actúa como traductor. Te enviaré datos de películas en catalán correspondientes a los siguientes campos: Nombre de película, Género, Idioma, País y Sinopsis. Tu tarea es traducir cada campo al castellano y al inglés en el orden indicado, y devolver el resultado manteniendo el orden original de los campos y mostrando únicamente las traducciones.",
              "role": "system"
            },
            {
              "content": "={{ $json[\"Nombre Pelicula CAS\"] }}; {{ $json[\"Género CAT\"] }}; {{ $json[\"Idioma CAT\"] }}; {{ $json[\"País CAT\"] }}; {{ $json[\"Sinopsis CAT\"] }}"
            },
            {
              "content": "Asegúrate de que el output del JSON sea siempre Nombre, Género, Idioma, País, Sinopsis, Name, Genre, Language, Country y Synopsis sin ningún tipo de de variación (ie Nombre de película en vez de nombre)",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1460,
        1060
      ],
      "id": "a015b5a3-52ee-4d6f-9c8e-9663fd547f09",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        2580
      ],
      "id": "e28e2dbb-d0bd-4cfe-89c2-9b25d904454f",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract11",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        2580
      ],
      "typeVersion": 1,
      "id": "91278794-824a-4aa3-a14e-b9d498ea28f0"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract15",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        2580
      ],
      "typeVersion": 1,
      "id": "9c848fd2-e3fc-4802-9fe9-30ead7019ada"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        2580
      ],
      "id": "4f6e8f63-194d-4184-af21-3206e0939fa3",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        2740
      ],
      "id": "f1241f20-3616-42df-a756-7442b23689af",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract12",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        2740
      ],
      "typeVersion": 1,
      "id": "dc890b63-1ad3-4b79-99f1-5f5108bd3484"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract16",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        2740
      ],
      "typeVersion": 1,
      "id": "c3a3411c-6c19-4b42-a569-900cfa850d31"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        2740
      ],
      "id": "bcabd524-2922-49ab-8067-eb86970b5f06",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        2900
      ],
      "id": "856c92e8-41ca-42de-9b08-75be421be7f4",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract17",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        2900
      ],
      "typeVersion": 1,
      "id": "a00532d8-efcf-438a-8564-c4a27fa6f93e"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract18",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        2900
      ],
      "typeVersion": 1,
      "id": "f6a59cd8-071b-4294-bce3-fff731c0eb66"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        2900
      ],
      "id": "c4f8e8bd-c93d-4fc6-b6ce-9e63c8689a56",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        3060
      ],
      "id": "ce8de276-b43e-4ae3-a02b-548b2b365488",
      "name": "Split Out8"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract19",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        3060
      ],
      "typeVersion": 1,
      "id": "7d9b93a2-6c60-4833-b581-37fb13ac2525"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract20",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        3060
      ],
      "typeVersion": 1,
      "id": "495e9251-820e-43a9-aba5-d8225d5c2304"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        3060
      ],
      "id": "1e866edd-7ea4-4924-9630-af9c4bcb0eb3",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        3240
      ],
      "id": "ebad720e-ce06-4fe9-828d-9947d5b230ae",
      "name": "Split Out9"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract21",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3640,
        3240
      ],
      "typeVersion": 1,
      "id": "22d89d72-c555-4202-bbb3-36ab3ae0aec4"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract22",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        4020,
        3240
      ],
      "typeVersion": 1,
      "id": "a7930757-9981-4bbf-b544-97872bb210f6"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3400,
        3240
      ],
      "id": "0dc65c2d-39ea-44f6-976f-83cc92376c94",
      "name": "Read/Write Files from Disk6"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/aribau"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        2580
      ],
      "id": "8d5525ad-95c6-49ec-ae23-cdfd2b720f27",
      "name": "Selenium Aribau"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/arenas"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        2400
      ],
      "id": "b467366b-8c78-44ba-bd32-2cf8587e80ac",
      "name": "Selenium Arenas"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/balmes"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        2740
      ],
      "id": "93bc754b-971c-46ed-bc05-60f1784e0ccc",
      "name": "Selenium Balmes"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/bosque"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        2900
      ],
      "id": "3248a516-e6a6-432e-a6f1-00dd1c65fd51",
      "name": "Selenium Bosque"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/glories"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        3060
      ],
      "id": "4df6b941-79b6-4297-89f4-bf4e8727586f",
      "name": "Selenium Glories"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/sarria"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3180,
        3240
      ],
      "id": "68d9a6d9-2161-4e9e-b6f1-a078a4e3aafe",
      "name": "Selenium Sarria"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7260,
        2800
      ],
      "id": "e56012bb-04a9-48ce-83dd-c99d0fc74bd1",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 8,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        2580
      ],
      "id": "0c43f194-a7f5-4a3f-a2a1-6f6dc778c11f",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": "={{ 1172 }}",
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        2740
      ],
      "id": "917de4d2-3c82-49e8-bbf2-4fbf698d8e8d",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 14,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        2900
      ],
      "id": "fd130bbd-5679-46a0-969f-05abeb026976",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 48,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        3060
      ],
      "id": "76d9fe7f-4a3b-4c0d-a41f-db120b2a74ee",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 49,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        3240
      ],
      "id": "fd57d03c-a143-427b-b3c8-1e8de78ea0b0",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eefa412f-0ed7-4ec0-9038-a8b6987a788d",
              "name": "Género ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[3] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5240,
        1420
      ],
      "id": "88fba8e6-bae4-4fef-9024-1512a7e44182",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5240,
        1680
      ],
      "id": "3d66996d-e0aa-4136-8826-5dc5b1b16d59",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5480,
        1820
      ],
      "id": "4822ca13-77ae-47f8-a2ab-47b2449ac8fb",
      "name": "Merge6"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4960,
        1760
      ],
      "id": "e9a35c92-02cf-4088-885b-9d1b24eba6e5",
      "name": "Wait2",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5440,
        1020
      ],
      "id": "6199cbaf-b989-4a5f-8c74-ab38616602b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5740,
        1080
      ],
      "id": "235dadba-7116-4868-a12c-e408aa6d6e1d",
      "name": "Wait4",
      "webhookId": "0178f68c-253e-43d3-865a-37436999b8f5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3060,
        320
      ],
      "id": "34f7f865-b675-4a4b-9ce5-8066a07fa753",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://zumzeigcine.coop/cinema/sessions/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        760
      ],
      "id": "530cf01b-f6f9-44dc-bb49-733156183da4",
      "name": "HTTP Request Zumzeig"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": ".film h2.filmtitle",
              "returnArray": true
            },
            {
              "key": "BloquesPeliculas",
              "cssSelector": ".film",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract3",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3080,
        720
      ],
      "typeVersion": 1,
      "id": "858121ff-bcdf-480b-b1c5-2f8188f96fd5"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Trailer",
              "cssSelector": "div.linkdestacado > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "Ficha Tecnica",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            },
            {
              "key": "Tipo",
              "cssSelector": "h1",
              "returnValue": "attribute",
              "attribute": "class"
            },
            {
              "key": "Fotograma",
              "cssSelector": "#content > div.b.full > div > img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3880,
        880
      ],
      "id": "15aeae49-1827-402b-b0a1-58d8a7cb894e",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=4",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json['Nombre Pelicula CAS'] }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json[\"Ficha Tecnica\"][2].split(': ')[1] }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json[\"Ficha Tecnica\"][1].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json[\"Ficha Tecnica\"][3].split(': ')[1].replaceAll(\"'\", ' min') }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "={{ $json[\"Ficha Tecnica\"][7].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "={{ $json.Fecha }}",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis.replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=https://zumzeigcine.coop{{ $json.Fotograma.last() }}",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "=",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "=",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json[\"Sinopsis CAT\"].replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4620,
        860
      ],
      "id": "dcb65a5c-de15-4473-9555-bb00e7538f62",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/es/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        880
      ],
      "id": "debe740c-df3f-4a4e-8d9c-281e67a19cd3",
      "name": "Zumzeig Peliculas",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo CAT",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis CAT",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Ficha Tecnica CAT",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3880,
        720
      ],
      "id": "f062a978-9052-4a48-85c0-596f97d2e4ca",
      "name": "HTML1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4320,
        860
      ],
      "id": "acdcc802-b08e-47c8-9e70-4a8c2b3b7762",
      "name": "Merge7"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        720
      ],
      "id": "4f18526d-4e2c-459d-a441-f77d0f6ab8df",
      "name": "Zumzeig Peliculas CAT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5220,
        700
      ],
      "id": "4d624116-38bf-4068-96ce-063a26def181",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5480,
        840
      ],
      "id": "cf15be27-f248-4433-97f1-f33c9981846a",
      "name": "Merge8"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4940,
        780
      ],
      "id": "ebfaeb34-c9b1-4d6e-aa42-606b657f7b83",
      "name": "Wait3",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.peli-item>div.zitem>div.overlay>div.text>a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3700,
        520
      ],
      "id": "67dcb208-714d-46c1-8bfd-d019c84efe6e",
      "name": "HTML2"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3040,
        520
      ],
      "id": "917628f6-d4c9-49a9-bb10-39fdb12dc2e7",
      "name": "Selenium OcinePeliculas"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3260,
        520
      ],
      "id": "0d2450b0-5429-433d-a430-fe0a4ab23fbb",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4140,
        520
      ],
      "id": "23b5b9a3-e2e9-4f2c-bbcc-364c2636d376",
      "name": "Selenium OcinePeliculas1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        520
      ],
      "id": "6fd89407-bdf1-49fe-89b5-7df48e0e0fae",
      "name": "Split Out10"
    },
    {
      "parameters": {
        "jsCode": "const bloques = items[0].json.BloquesPeliculas || [];\n\nconst resultado = [];\n\nfor (const bloque of bloques) {\n  // Extraer título\n  const tituloMatch = bloque.match(/<h2 class=\"filmtitle.*?\">(.*?)<span class=\"spacer\">/s);\n  const titulo = tituloMatch ? tituloMatch[1].trim() : \"Título no disponible\";\n\n  // Extraer todas las sesiones con fecha y hora\n  const sesionesMatch = bloque.match(/<div class=\"session\">.*?<\\/div>/gs);\n  const sesionesCompletas = sesionesMatch ? sesionesMatch.map(session => {\n    // Extraer día y hora\n    const diaHoraMatch = session.match(/>([^<]+)</);\n    if (diaHoraMatch) {\n      const [dia, hora] = diaHoraMatch[1].trim().split(' ');\n      return `${dia} ${hora}`; // Mantener día y hora juntos\n    }\n    return \"Sesión no disponible\";\n  }) : [\"Sesión no disponible\"];\n\n  // Formatear las sesiones como una cadena separada por punto y coma\n  const sesionesFormateadas = sesionesCompletas.join('; ');\n\n  // Agregar al resultado\n  resultado.push({\n    json: {\n      \"Nombre Pelicula CAS\": titulo,\n      \"Fechas\": sesionesFormateadas, // Ahora incluye día y hora\n      \"Horario\": sesionesCompletas // Mantener como array para procesamiento posterior\n    }\n  });\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        740
      ],
      "id": "fe57a97d-9b00-4594-ac6c-fd577006f030",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "items.forEach(item => {\n  console.log(\"🎬 CAS:\", item.json[\"Nombre Pelicula CAS\"]);\n  console.log(\"🌍 ENG:\", item.json[\"Nombre Película ENG\"]);\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7380,
        1220
      ],
      "id": "0d4d27bc-a814-4fa6-b602-ddae3032dbee",
      "name": "Code3"
    },
    {
      "parameters": {
        "text": "={{ $json[\"titlesToTranslate\"].map(t => `\"${t}\"`).join(\"\\n\") }}",
        "translateTo": "EN-US",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        6760,
        1080
      ],
      "id": "14cb09c4-afb0-438d-b56b-4c78c355ed6b",
      "name": "DeepL",
      "credentials": {
        "deepLApi": {
          "id": "cS9jwaYtHjaEoUpC",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const peliculas = $json.peliculasUnicas;\nconst traduccionesRaw = $json.translations?.[0]?.text || \"\";\n\n// Separar por líneas\nconst traducciones = traduccionesRaw.split('\\n');\n\nreturn peliculas.map((pelicula, i) => ({\n  json: {\n    ...pelicula,\n    [\"Nombre Película ENG\"]: traducciones[i] || \"\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7180,
        920
      ],
      "id": "c3986f7f-f2c9-4382-ae52-f51d323ec5c8",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        7000,
        1400
      ],
      "id": "43a22f04-b4d2-455c-a9f9-1b47e010e23e",
      "name": "Merge9"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mooby Cinemas Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filtro href Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filtro href peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cinema Malda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mooby Cinemas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phenomena Experience",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Zumzeig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Mooby Cinemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href Peliculas": {
      "main": [
        [
          {
            "node": "Cinema Malda Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href peliculas": {
      "main": [
        [
          {
            "node": "Phenomena Experience Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Malda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Phenomena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Mooby Cinemas": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Phenomena": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DeepL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "HTML Extract13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract9": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Selenium Arenas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Aribau",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Bosque",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Glories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Sarria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Balmes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract13": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Malda": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTML Extract9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "HTML Extract15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract11": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract15": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "HTML Extract11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "HTML Extract16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract12": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract16": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "HTML Extract12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "HTML Extract18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract17": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract18": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "HTML Extract17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "HTML Extract20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract19": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract20": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "HTML Extract19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "HTML Extract22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract21": {
      "main": [
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract22": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "HTML Extract21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Aribau": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Arenas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Balmes": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Bosque": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Glories": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Sarria": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Zumzeig": {
      "main": [
        [
          {
            "node": "HTML Extract3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zumzeig Peliculas": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zumzeig Peliculas CAT": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium OcinePeliculas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Split Out10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out10": {
      "main": [
        [
          {
            "node": "Selenium OcinePeliculas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Zumzeig Peliculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zumzeig Peliculas CAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45019f6b-bdb2-4a9a-8303-5ef35e028f58",
  "meta": {
    "instanceId": "303e4cb016a65662dd6f090c618deea51b7977fd15c37980f25bf54cbb1bb486"
  },
  "id": "plysjankI9NQ64qg",
  "tags": []
}