My_workflow_4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.moobycinemas.com/cartelera",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        920
      ],
      "id": "c4b8d674-43a1-4cdb-be60-3c77c9f4e7e0",
      "name": "Mooby Cinemas"
    },
    {
      "parameters": {
        "url": "https://www.cinemamalda.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        1240
      ],
      "id": "b15dd0fa-a093-452b-bdcd-76042d38118f",
      "name": "Cinema Malda"
    },
    {
      "parameters": {
        "url": "https://www.phenomena-experience.com/programacion-peliculas/todas.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        1520
      ],
      "id": "798b7fa2-1f2e-4a5f-86f4-f4346e647c9c",
      "name": "Phenomena Experience"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "main nav a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        260,
        920
      ],
      "typeVersion": 1,
      "id": "ac6c7dd6-ee1a-4d6d-a1b0-babfcecb0a45"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        920
      ],
      "id": "0d232f2b-0f14-4af6-93ba-4a628ebb7720",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=1",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json.Datos[0].split(':')[1].trim() }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json.Datos.find(item => item.includes('Direcció')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json.Datos.find(item => item.includes('Durada')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "={{ $json.Datos[1].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "={{ $json.Datos[5].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json.Sinopsis[1].replaceAll('\\n','. ').replaceAll('·','').replaceAll('. .','..')}}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Idioma original')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json.Datos[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        920
      ],
      "id": "33ad7d95-f501-49bb-adde-5f06f1238154",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2840,
        1220
      ],
      "id": "8981229f-d358-4f52-a749-5a3256b9f62b",
      "name": "Merge"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "a.movie",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        260,
        1240
      ],
      "typeVersion": 1,
      "id": "7da6dc30-2800-4ae8-8e27-9c2fa6438bd5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        1240
      ],
      "id": "1b9d3ba6-61e0-4195-ac21-13b8da114863",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.event-titulo > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract2",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        260,
        1520
      ],
      "typeVersion": 1,
      "id": "90e5b89f-84c8-4478-b5bf-425c33688f7a"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        1520
      ],
      "id": "c60f6f5e-805d-4cdf-bc7a-76767f898aa6",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "321beee9-3545-4c0e-a1dc-7f1ac2ed813d",
              "name": "ID Cine",
              "value": 2,
              "type": "number"
            },
            {
              "id": "32cb8ca4-34c4-4edc-9926-bbcd23b54575",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "92781ded-1250-4675-baec-eee4ba1fb31d",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "faf38faa-e00d-4e53-84d6-adda080df36b",
              "name": "Reparto CAS",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "136219d8-4570-4b31-8c49-74d0695daef8",
              "name": "Año",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[1].trim() }}",
              "type": "number"
            },
            {
              "id": "c0c4223d-19b0-4a8b-9acd-59832bd57027",
              "name": "Dirección",
              "value": "={{ $json.Datos[0].split('/')[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "cd221c68-851b-455f-8837-ea0156a8dbbd",
              "name": "Duración",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[5].trim() : $json.Datos[0].split('/')[4].trim() }}",
              "type": "string"
            },
            {
              "id": "5e25fd1d-cf53-4a4e-9a53-bdebd156a4c5",
              "name": "Clasificación",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[7].split(' y distintivo')[0].trim() : $json.Datos[0].split('/')[6].split(' y distintivo')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "19e2c9ff-4fad-4605-b6ed-9bf191a7da9c",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "ae8553c8-a6ba-4896-813c-479069aa8fb6",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "3c01754f-a338-4a58-9542-50cc0a5f4ba2",
              "name": "Género CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[4].trim() : $json.Datos[0].split('/')[3].trim() }}",
              "type": "string"
            },
            {
              "id": "8fea8562-4b7f-4374-acee-6d901c24b1ab",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[6].trim() : $json.Datos[0].split('/')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "f639932e-691e-4c3c-a1db-ab230e54cd6e",
              "name": "País CAS",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "4b8a5778-c7b9-4c64-be2a-2527188f3e1c",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Datos[1].replace('Sinopsis:','').trim() }}",
              "type": "string"
            },
            {
              "id": "1e21b454-c7e3-4433-aa27-920e4fffaea8",
              "name": "Nombre Película ENG",
              "value": "={{$json.Datos[0].split('/')[0].replace('»', '').replace('«','').trim()}}",
              "type": "string"
            },
            {
              "id": "9610c84b-4a51-47e3-8d2b-90a340012a11",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6a95e1bc-0a02-4235-a2be-15fadb2d080f",
              "name": "Reparto CAT",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "a2212737-2dbe-40bc-a373-4c3393ccf787",
              "name": "Reparto ENG",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "22620201-81bd-4ced-bf73-d7dc53d04b55",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "94881cac-fb35-459d-bd19-a00dd4960cce",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "2f9f914d-4569-4fe4-8dfb-60b1f72c19e1",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "84839f44-6a9e-4043-aca2-2d1818db2668",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "d192463f-2987-46f6-a3a4-049723e2f1ee",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "9d3a623c-0591-46ed-842c-66c9f3f6d486",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "549a22bc-d5b3-4455-820f-67f2917f0233",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "56c33424-0878-47e5-a35f-448275782f2d",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "b38967c9-2537-405d-8e07-6994a40808a4",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "2119c3a6-3088-4e07-b1db-747ff0b72c2b",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "bd1a853d-1dff-4c7c-9d83-8d9b26839194",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d4486a73-8770-4818-b77a-431a0adaed3a",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "2d4be671-9507-4b91-8fd8-299a4b3ab645",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        1240
      ],
      "id": "c15de0a1-f863-412c-9ea8-3636b9c248ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        1240
      ],
      "id": "e01da65e-8a29-4e02-8ad3-839167ec8ae4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d029203-9a5f-47e4-ac47-0d5fd84f43f7",
              "name": "ID Cine",
              "value": 3,
              "type": "number"
            },
            {
              "id": "5ba39458-f651-47e8-91b0-72b385986ef7",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "e1c10463-1487-4ac0-9e50-7072ddb5ad68",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "543228af-acac-41bb-8b9d-9a9827dce09c",
              "name": "Reparto CAS",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "3fc493bf-8fd0-4ae7-94a9-1536d7952214",
              "name": "Año",
              "value": "={{ $json.Datos.split('·')[0].split(',').last().trim().isNumeric() ? $json.Datos.split('·')[0].split(',').last().trim() : 0 }}",
              "type": "number"
            },
            {
              "id": "0ad40229-2ee2-4f13-9f65-33eba5758bc2",
              "name": "Dirección",
              "value": "={{ $json.Datos.split('·')[0].split(/, (?:1|2)/)[0].replace('Dir.','') }}",
              "type": "string"
            },
            {
              "id": "940a0b95-e4e8-4e4c-b3d8-42c59aa151b7",
              "name": "Duración",
              "value": "={{ $json.Datos.split('·')[2].trim().replace(\"'\",\" min\") }}",
              "type": "string"
            },
            {
              "id": "03360bef-659d-4495-9b80-85f11f8ecb37",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "b4f189db-de64-4408-b90a-6a9b1c37eb91",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "b799d688-40f1-4a33-af5b-5d7cba573e44",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "14bcbdb8-e4a5-487a-85d7-45e3ccb6ddb3",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "9a535434-0c41-4909-9c24-1aae0525765c",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos.split('·')[4].trim().startsWith('V') ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim()  }}",
              "type": "string"
            },
            {
              "id": "0d5fc970-960e-4337-9a80-24dc78cc64b2",
              "name": "País CAS",
              "value": "={{ $json.Datos.split('·')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f3a5ba39-4ea9-483c-a9ac-e4135d6b52d1",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "7fd85551-be29-4e4e-87bf-1c685e434d14",
              "name": "Nombre Película ENG",
              "value": "={{ $json.Titulo2 }}",
              "type": "string"
            },
            {
              "id": "c36c5a17-14eb-48c2-9bd9-f15830641388",
              "name": "Fotograma",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "502b980c-e167-4c4f-bb41-99e79bcb8b63",
              "name": "Reparto CAT",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "20baf885-af39-4382-97a3-5598939df3f9",
              "name": "Reparto ENG",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "6382a041-fc62-4796-b5d9-7428abea1df2",
              "name": "Cartelera",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "9f4621f7-e916-4777-89bb-5bf13767c292",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "7b4215cb-a13f-42b4-8143-1a46ade6530f",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "bea1ae2b-31f4-4f41-8904-c13ba7fbb55d",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "994c3d42-c71d-4106-902e-085f21a78ed8",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "a804c21d-9a4c-4efc-9be7-e260b3877dd9",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "6928ff49-b5aa-4981-b786-ba0dc17ee806",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "58862633-c5d0-4a63-9cf6-6ca69b5d23a2",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "81521271-f785-42aa-91ed-d38f9c8c690f",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "e5df1b4d-7b78-4442-a899-634acd52b412",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b7452a3-7392-4778-9bd8-1851beafbe89",
              "name": "Pais ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d64779fa-8cba-4a50-b4d9-1bf8478d1c2c",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "5822077b-6f56-494c-bdd7-dee2d8718705",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        1520
      ],
      "id": "6730accc-c28e-4dcf-91c6-c9bc041e3b8c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Nombre Pelicula CAS"
            }
          ]
        },
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3140,
        1220
      ],
      "id": "045c41fc-be20-4c3a-b8d5-2ac1d85658b6",
      "name": "Sort"
    },
    {
      "parameters": {
        "url": "=https://www.moobycinemas.com{{$json.Peliculas}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        920
      ],
      "id": "57e603f9-1ff8-4ead-a23e-7bfbaf1566bd",
      "name": "Mooby Cinemas Peliculas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dee1f996-48f5-484e-9bed-f58240b87b78",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "precios-cine-malda-barcelona-preus",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "43d631a1-6518-4b1d-9880-81136048a5a7",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "cartelera-dia-dia",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "61e30095-8874-495d-a3eb-d57b666f7740",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "sesionteta",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        920,
        1240
      ],
      "id": "277fd1b5-e6cd-41bd-99c7-17790f7840c4",
      "name": "Filtro href Peliculas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35e1977d-8c9d-4554-9cf8-2afb43b919c6",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "/ciclo/",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1eadb5ad-7efe-4892-9db7-e84b9b1f3add",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "programa-doble-sorpresa-club-phenomena",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        700,
        1520
      ],
      "id": "763afcae-90f9-4c82-a6ae-feadaa36c48e",
      "name": "Filtro href peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        1240
      ],
      "id": "2518d197-be99-4ee6-90d6-111d72e7b665",
      "name": "Cinema Malda Peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        1520
      ],
      "id": "8caa8f03-b65c-46d8-a3bf-b07c70615d27",
      "name": "Phenomena Experience Peliculas"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "table > tbody > tr",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "body > main > article > div.details > div > figure > picture > img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.synopsis > div",
              "returnArray": true
            },
            {
              "key": "Horario",
              "cssSelector": "body > main > section > div > div > div > div",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Mooby Cinemas",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1400,
        920
      ],
      "typeVersion": 1,
      "id": "c5778727-6038-4256-918f-20b05abf55fd"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div.titulo",
              "returnValue": "html"
            },
            {
              "key": "Reparto",
              "cssSelector": "div.datos1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.datos2"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.datos3"
            },
            {
              "key": "Poster",
              "cssSelector": "img.ficha-img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Fotograma",
              "cssSelector": "img.videoin",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Titulo2",
              "cssSelector": "div.titulo span"
            },
            {
              "key": "Horario",
              "cssSelector": "div.row.row-pases",
              "returnArray": true
            },
            {
              "key": "test",
              "cssSelector": "body > main > section:nth-child(6) > div > div > div > nav > button",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Phenomena",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1400,
        1520
      ],
      "typeVersion": 1,
      "id": "290eefea-a68d-4083-b779-afe19d0fc172"
    },
    {
      "parameters": {
        "content": "## Cartelera",
        "height": 1660,
        "width": 2560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        140
      ],
      "typeVersion": 1,
      "id": "606c9600-6f31-49c7-8a7a-1275d23de017",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3480,
        1220
      ],
      "id": "2d2794a8-fb6c-4104-a7ec-9117fda0e469",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "\nfunction eliminarDuplicadosYMantenerMasLargo(array) {\n\t// Verificar si el array está vacío\n\tif (!array || array.length === 0) return [];\n\n\t// Agrupar objetos por el campo \"Nombre Pelicula CAS\"\n\tconst agrupadosPorNombre = array.reduce((acumulador, actual) => {\n\t\t// Asegurar que el objeto tiene la propiedad requerida\n\t\tconst clave = actual[\"Nombre Pelicula CAS\"];\n\t\tif (clave === undefined) return acumulador;\n\t\t\n\t\tif (!acumulador[clave]) {\n\t\t\tacumulador[clave] = [];\n\t\t}\n\t\tacumulador[clave].push(actual);\n\t\treturn acumulador;\n\t}, {});\n\n\t// Para cada grupo, encontrar el objeto con la representación más larga\n\tconst resultado = Object.values(agrupadosPorNombre).map(grupo => {\n\t\t// Ordenar por longitud de la representación JSON (descendente) y tomar el primero\n\t\treturn grupo.sort((a, b) => \n\t\t\tJSON.stringify(b).length - JSON.stringify(a).length\n\t\t)[0];\n\t});\n\n\treturn resultado;\n}\n\nreturn eliminarDuplicadosYMantenerMasLargo($input.first().json.data)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        1220
      ],
      "id": "fd62dab6-ff20-4154-9b39-c3306694adb4",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 68,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceSpecialChars().replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d]))}}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        1820
      ],
      "id": "73658486-2b39-4800-aeec-b2a1b8a1e3f6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Pases",
        "height": 1340,
        "width": 2560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        1800
      ],
      "id": "178ce8c3-d80b-40a4-aea5-56c7caa564a8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1201,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "cf92fa2a-b9d1-4e75-82ea-6ade5f5f60c2",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "46861acf-7de1-4323-a09a-f55285dec770",
              "name": "VERSION CAT",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "5e56a5af-adea-429a-ab35-be7ede1a4ccc",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        1980
      ],
      "id": "ebbafbae-ed76-495b-9aff-54bef9b933e9",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pelis_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pelis_icub.xlsx",
          "sheetName": "Pelis_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4620,
        1220
      ],
      "id": "e8387320-1268-4c57-9612-df08bdad37ea",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2280,
        2180
      ],
      "id": "849f12b2-1b2f-47ad-8d59-99e778f8a86e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37176db1-f62a-4205-806b-514864947749",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'].trim() }}",
              "type": "string"
            },
            {
              "id": "595d6e65-2621-46f0-bc87-707e29504c49",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "fca85a2b-7847-49cc-82f7-920fc44b34f5",
              "name": "HORARIO CAS",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAS'] : ($json['HORARIO CAS'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAS'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "ffba3f28-578f-47c0-9e78-b67c00a370cc",
              "name": "HORARIO CAT",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAT'] : ($json['HORARIO CAT'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAT'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "a0a08e68-0f51-48b7-a00b-244efbb103c5",
              "name": "HORARIO EN",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO EN'] : ($json['HORARIO EN'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO EN'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "6056c15e-06fe-47a3-9f20-3b31c6f7bdcc",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "4617c1e6-25d6-4720-a165-a572c4fc3617",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "9b8f5f2a-d474-41d0-97eb-26362f37fe99",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3460,
        2280
      ],
      "id": "87143b2f-6a4d-4222-9c34-4dece4968790",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "NOMBRE PELICULA"
            },
            {
              "fieldName": "ID CINE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2940,
        2280
      ],
      "id": "22c0a660-ce59-4b1a-8308-c8b6288e1983",
      "name": "Sort1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Nombre Pelicula CAS",
              "field2": "NOMBRE PELICULA"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3980,
        2260
      ],
      "id": "bee54ef2-391f-40d1-bd77-9a33bb094b6b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0756cf35-1b44-493b-9c70-af3c4467fe46",
              "name": "ID",
              "value": "={{ $itemIndex + 1 }}",
              "type": "string"
            },
            {
              "id": "29573d06-c424-43f4-ab9f-f1c40a2f2748",
              "name": "ID PELI",
              "value": "={{ $json['ID Pelicula'] }}",
              "type": "string"
            },
            {
              "id": "99c30b43-9847-479d-8e6e-6dbfa21ea17a",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'] }}",
              "type": "string"
            },
            {
              "id": "4e86d1e7-0bfd-4d71-a7f6-1c5a75660a58",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "aba80cdb-5ac3-467f-b836-ae504ab6c818",
              "name": "HORARIO CAS",
              "value": "={{ $json['HORARIO CAS'] }}",
              "type": "string"
            },
            {
              "id": "6cebd81f-d149-42dc-8b49-ba8c1195ac2a",
              "name": "HORARIO CAT",
              "value": "={{ $json['HORARIO CAT'] }}",
              "type": "string"
            },
            {
              "id": "cda04d95-1441-43b2-8ed3-1fca7a156225",
              "name": "HORARIO EN",
              "value": "={{ $json['HORARIO EN'] }}",
              "type": "string"
            },
            {
              "id": "dab277ef-03c6-48c7-a905-3786827a18e9",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "7464b792-6ada-446e-b169-7eaa46592b3f",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "38052f8b-141c-4d26-8538-3ffc739c466e",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4220,
        2260
      ],
      "id": "5a417409-e80f-489b-ab54-5b69f1cb2eb7",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5aa846c7-dc5e-412f-acd4-98809a28ddcc",
              "name": "ID Pelicula",
              "value": "={{ 1 + $itemIndex + 27142 }}",
              "type": "string"
            },
            {
              "id": "ad178d42-852f-4c70-861c-65dbe9b63b9c",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json['Nombre Pelicula CAS'] }}",
              "type": "string"
            },
            {
              "id": "c3c33170-19c8-4d7e-98dd-05cd201f42bb",
              "name": "Reparto CAS",
              "value": "={{ $json['Reparto CAS'] }}",
              "type": "string"
            },
            {
              "id": "5624ddd1-7e76-4dfb-a931-af57a64fa264",
              "name": "Año",
              "value": "={{ $json['Año'] }}",
              "type": "number"
            },
            {
              "id": "8211ab89-5e7a-48f7-92de-b6e512e2ef38",
              "name": "Dirección",
              "value": "={{ $json['Dirección'] }}",
              "type": "string"
            },
            {
              "id": "86c57b27-c684-4781-bf5d-5f5620f459f8",
              "name": "Duración",
              "value": "={{ $json['Duración'] }}",
              "type": "string"
            },
            {
              "id": "53aadef4-044e-4785-a679-03892a3e3c79",
              "name": "Clasificación",
              "value": "={{ $json['Clasificación'] }}",
              "type": "string"
            },
            {
              "id": "7be1865d-673d-45d0-be1a-013f99ba9c3d",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "f84b2039-f201-4a1d-8409-d245d3f3f670",
              "name": "Fecha",
              "value": "={{ $json.Fecha }}",
              "type": "string"
            },
            {
              "id": "0f1d0f77-b424-4a24-ad7d-1e510063834a",
              "name": "Género CAS",
              "value": "={{ $json['Género CAS'] }}",
              "type": "string"
            },
            {
              "id": "04df362b-1d09-4515-887c-8d02bad19a07",
              "name": "Idioma CAS",
              "value": "={{ $json['Idioma CAS'] }}",
              "type": "string"
            },
            {
              "id": "a28342a0-2f46-41e9-a7db-02c111ba6d0b",
              "name": "País CAS",
              "value": "={{ $json['País CAS'] }}",
              "type": "string"
            },
            {
              "id": "c2ebccd6-febe-4dee-9703-872c9dd20d49",
              "name": "Sinopsis CAS",
              "value": "={{ $json['Sinopsis CAS'] }}",
              "type": "string"
            },
            {
              "id": "3c0bb654-788d-40b0-955b-afed70fbb96a",
              "name": "Nombre Película ENG",
              "value": "={{ $json['Nombre Película ENG'] }}",
              "type": "string"
            },
            {
              "id": "ab51b9d9-a8e0-4db0-bd47-92b948a8fde4",
              "name": "Fotograma",
              "value": "={{ $json.Fotograma }}",
              "type": "string"
            },
            {
              "id": "6dc6becb-810a-4f7b-8eaf-6b4a3a4d1990",
              "name": "Reparto CAT",
              "value": "={{ $json['Reparto CAT'] }}",
              "type": "string"
            },
            {
              "id": "3ac23e6d-bdd6-45cf-bff2-f451bf49eca4",
              "name": "Reparto ENG",
              "value": "={{ $json['Reparto ENG'] }}",
              "type": "string"
            },
            {
              "id": "ca61cd81-082a-4a88-9c65-890e630efb2b",
              "name": "Cartelera",
              "value": "={{ $json.Cartelera.split('/').last() }}",
              "type": "string"
            },
            {
              "id": "3bfa65fc-1b16-45e1-a01f-6f564eda9991",
              "name": "Género CAT",
              "value": "={{ $json['Género CAT'] }}",
              "type": "string"
            },
            {
              "id": "b0787aba-cc16-4596-9384-ee1194da7c44",
              "name": "Género ENG",
              "value": "={{ $json['Género ENG'] }}",
              "type": "string"
            },
            {
              "id": "54ca0be3-3510-4137-94cd-18797b86bc39",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "49b4d7a7-7c59-4fe5-b2d5-b09931b132e7",
              "name": "Sinopsis CAT",
              "value": "={{ $json['Sinopsis CAT'] }}",
              "type": "string"
            },
            {
              "id": "d7031a72-9f5c-45e4-8702-6f8e075671df",
              "name": "Sinopsis ENG",
              "value": "={{ $json['Sinopsis ENG'] }}",
              "type": "string"
            },
            {
              "id": "ddd0a62e-bf5a-42c6-8ee7-9e39a6eaa10d",
              "name": "Imagen CAS",
              "value": "={{ $json['Imagen CAS'] }}",
              "type": "string"
            },
            {
              "id": "148d111a-b6ac-48e8-9061-747913b0ad54",
              "name": "Idioma CAT",
              "value": "={{ $json['Idioma CAT'] }}",
              "type": "string"
            },
            {
              "id": "0fadc1ea-5fd6-46ea-a50e-972a571c3948",
              "name": "Idioma ENG",
              "value": "={{ $json['Idioma ENG'] }}",
              "type": "string"
            },
            {
              "id": "967d0f1b-e7ef-4a1f-bff5-21ae1597e724",
              "name": "País CAT",
              "value": "={{ $json['País CAT'] }}",
              "type": "string"
            },
            {
              "id": "ba3a7ee7-e53c-43c9-ba7e-7d86642c7c2f",
              "name": "País ENG",
              "value": "={{ $json['País ENG'] }}",
              "type": "string"
            },
            {
              "id": "ce3e9a43-4cd9-41a6-9651-66197115bda7",
              "name": "Imagen CAT",
              "value": "={{ $json['Imagen CAT'] }}",
              "type": "string"
            },
            {
              "id": "f7b08d83-49cb-49b1-8ca0-9d493a7f3c9f",
              "name": "Imagen ENG",
              "value": "={{ $json['Imagen ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4000,
        1220
      ],
      "id": "c9162e60-7b30-49a3-adb3-e01cb1901c78",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pases_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pases_icub.xlsx",
          "sheetName": "Pases_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4680,
        2260
      ],
      "id": "cb356901-b715-4070-b7ec-6f5be5b11bf3",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2080
      ],
      "id": "7a8ec7e1-34a9-48ea-b66e-d29992494a87",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract9",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2080
      ],
      "typeVersion": 1,
      "id": "9ef61bac-4dc7-492e-99ac-32c8248d3a38"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        2540
      ],
      "id": "7e833c11-3dd5-4dc4-875e-dbb0202b5e78",
      "name": "Wait",
      "webhookId": "512a5877-0277-458b-bf96-5110fa96b5d6"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract13",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2080
      ],
      "typeVersion": 1,
      "id": "db632593-4665-4095-9377-c52835aa9d56"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1038,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2080
      ],
      "id": "43b1b31c-3f70-4d28-9448-a4b6ec1630a0",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45dd401d-5e77-4482-9aec-b2fa6c1b7c70",
              "leftValue": "={{ $json['NOMBRE PELICULA'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3200,
        2280
      ],
      "id": "e9f8aa66-5f7e-4cc5-adf3-c2d1ef8ac218",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5060,
        1740
      ],
      "id": "0991b15a-6ac0-4676-b5a5-3650d731a3e4",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4820,
        1740
      ],
      "id": "5cfe0957-57b8-4fbb-8853-2d1d989c68e9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Peliculas.replaceAll('/','') }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3240,
        740
      ],
      "id": "40566cf8-e2bb-4467-a065-d961a2969237",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "0092331a-39ff-4afd-9462-19001aec12d7",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 429,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3020,
        740
      ],
      "id": "0e92ba5e-c0c9-4928-80dc-5a2d9a353db9",
      "name": "Filter1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.api }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2820,
        740
      ],
      "id": "6901ce8c-4eb3-418a-8f47-b819361c4d8b",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Titulo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2060,
        740
      ],
      "id": "3c171a91-3cd3-44f0-b57d-5a13e67c70cd",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1840,
        740
      ],
      "id": "fec96fae-0337-43fb-8d1a-b6c6e5d078b8",
      "name": "Filter2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2460,
        740
      ],
      "id": "8e63cdb6-5f70-4037-b967-2fa0ea5d9344",
      "name": "Wait1",
      "webhookId": "ec38c35e-8d62-4d48-8e11-75ed1f9bebb5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d8530c-c351-4c8d-87e2-1ecc8096f1bd",
              "leftValue": "={{ $json['ID PELI'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4440,
        2260
      ],
      "id": "30a07769-0c83-4b48-b9ee-01aa5f0f062d",
      "name": "Filter3"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.sinopsi > p",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "#genesis-content > div.side > img",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days",
              "returnArray": true
            },
            {
              "key": "Trailer",
              "cssSelector": "div.video > iframe",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days > div.day",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Malda",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1400,
        1240
      ],
      "typeVersion": 1,
      "id": "647f8d16-a3eb-4955-ab88-b04b2b14526d"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        900
      ],
      "id": "414d5bed-1a44-4c0d-9d13-f30c2959ed39",
      "name": "Merge4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        1220
      ],
      "id": "60e69f5b-da44-428d-ba20-d8515d131114",
      "name": "Merge5"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2080
      ],
      "id": "5c041845-4c4e-4735-8c49-0cde73ff1ab9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6bf1a5c-79db-4d9b-a79a-a2cae0c2bd55",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.message.content.Nombre || $json.message.content[\"Nombre de película\"] }}",
              "type": "string"
            },
            {
              "id": "668eefb5-a90a-48ad-a628-5d5f9785e48d",
              "name": "Género CAS",
              "value": "={{ $json.message.content[\"Género\"] }}",
              "type": "string"
            },
            {
              "id": "8aedbb6c-492e-4e9a-becd-9749884b3b68",
              "name": "País CAS",
              "value": "={{ $json.message.content[\"País\"] }}",
              "type": "string"
            },
            {
              "id": "c07c7f9d-9517-45ed-9292-f5554a705f58",
              "name": "Sinopsis CAS",
              "value": "={{ $json.message.content.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "ea5dfbff-dc26-4d00-b877-70ed27510be3",
              "name": "Nombre Película ENG",
              "value": "={{ $json.message.content.Name }}",
              "type": "string"
            },
            {
              "id": "bd362771-a5ba-4d72-869b-d27eab1d506b",
              "name": "Género ENG",
              "value": "={{ $json.message.content.Genre }}",
              "type": "string"
            },
            {
              "id": "db9b9b58-6cad-4f1f-aa0e-336b59ecdb21",
              "name": "=Idioma ENG",
              "value": "={{ $json.message.content.Language }}",
              "type": "string"
            },
            {
              "id": "226f780f-248a-451f-9b79-a30c85b05c2b",
              "name": "País ENG",
              "value": "={{ $json.message.content.Country }}",
              "type": "string"
            },
            {
              "id": "c73d672b-8bd1-4467-97ce-193ec0b2dac0",
              "name": "Sinopsis ENG",
              "value": "={{ $json.message.content.Synopsis }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        740
      ],
      "id": "8366f902-f447-4647-bb68-9bba7c51bdb8",
      "name": "Edit Fields14",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Actúa como traductor. Te enviaré datos de películas en catalán correspondientes a los siguientes campos: Nombre de película, Género, Idioma, País y Sinopsis. Tu tarea es traducir cada campo al castellano y al inglés en el orden indicado, y devolver el resultado manteniendo el orden original de los campos y mostrando únicamente las traducciones.",
              "role": "system"
            },
            {
              "content": "={{ $json[\"Nombre Pelicula CAS\"] }}; {{ $json[\"Género CAT\"] }}; {{ $json[\"Idioma CAT\"] }}; {{ $json[\"País CAT\"] }}; {{ $json[\"Sinopsis CAT\"] }}"
            },
            {
              "content": "Asegúrate de que el output del JSON sea siempre Nombre, Género, Idioma, País, Sinopsis, Name, Genre, Language, Country y Synopsis sin ningún tipo de de variación (ie Nombre de película en vez de nombre)",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1600,
        740
      ],
      "id": "c1ef0a53-fc05-4876-8cab-198a04e892b8",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2260
      ],
      "id": "ee5a6b9d-bd3f-4273-b795-f6e9fd970137",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract11",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2260
      ],
      "typeVersion": 1,
      "id": "000bdefb-9219-4fe7-9602-eeb0b76ad9de"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract15",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2260
      ],
      "typeVersion": 1,
      "id": "209a5509-f5bc-4530-9085-79ed81908d3e"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2260
      ],
      "id": "08cfd57a-e4b9-4e1a-9c38-92647dc0f6c2",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2420
      ],
      "id": "4a557a0e-f7e3-41f5-b38a-56b7348baa58",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract12",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2420
      ],
      "typeVersion": 1,
      "id": "06035330-db41-4287-8912-793465f77cc8"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract16",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2420
      ],
      "typeVersion": 1,
      "id": "fffda6c0-84de-4891-9666-748690e7ce16"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2420
      ],
      "id": "66b542e6-884e-4382-bfd7-20b783a317fb",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2580
      ],
      "id": "b4367181-c0b7-45c6-9096-46552875d1d1",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract17",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2580
      ],
      "typeVersion": 1,
      "id": "35bea219-10bd-40e3-9fd5-ecd47f5a7922"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract18",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2580
      ],
      "typeVersion": 1,
      "id": "f3b8861e-e965-4f5f-a78a-5e90294a6dad"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2580
      ],
      "id": "5a499ae5-f51f-41a8-837b-4c4763a7b23d",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2740
      ],
      "id": "e64f69dc-f4da-4c96-a5a8-5134989a11fe",
      "name": "Split Out8"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract19",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2740
      ],
      "typeVersion": 1,
      "id": "332601d9-5b13-4d15-80c8-d14ee6a19f94"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract20",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2740
      ],
      "typeVersion": 1,
      "id": "a4cecbbd-a7b9-44ea-abb8-7483a03b910f"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2740
      ],
      "id": "e4be5496-e160-402e-9d2d-02bcb3859e62",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        2920
      ],
      "id": "895e2540-97d8-466f-8afd-42d642aba7c5",
      "name": "Split Out9"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract21",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        580,
        2920
      ],
      "typeVersion": 1,
      "id": "c1095156-f5a9-4704-a032-ae9b51c60813"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract22",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        960,
        2920
      ],
      "typeVersion": 1,
      "id": "0ac618f5-35a8-438f-bf0a-64b8fef3bf5e"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        2920
      ],
      "id": "eb81a884-178b-43ff-bf64-54a4b6de1433",
      "name": "Read/Write Files from Disk6"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/aribau"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2260
      ],
      "id": "3535a7da-a00d-4952-9e13-cea9e4e2a5e0",
      "name": "Selenium Aribau"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/arenas"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2080
      ],
      "id": "dcf11726-c7c4-48e7-8cc0-31e39cfe8d38",
      "name": "Selenium Arenas"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/balmes"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2420
      ],
      "id": "49d3b467-cfba-4aeb-81a9-87edd19e0dc4",
      "name": "Selenium Balmes"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/bosque"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2580
      ],
      "id": "6a6fb2f4-65d9-42cf-9b8f-85034f385732",
      "name": "Selenium Bosque"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/glories"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2740
      ],
      "id": "4d58f3e6-da28-4ec6-b363-9726cfed3265",
      "name": "Selenium Glories"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/sarria"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        2920
      ],
      "id": "3ca0b552-e963-4639-a6d6-f0b3de0b5a7b",
      "name": "Selenium Sarria"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3980,
        2480
      ],
      "id": "c596371c-a59e-40ae-bda7-d9d8c9bf8229",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 8,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2260
      ],
      "id": "de994389-2d99-4ccf-a577-b031579063ee",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": "={{ 1172 }}",
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2420
      ],
      "id": "ed56fb32-97c6-4e36-8818-0c04b094126f",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 14,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2580
      ],
      "id": "120c3b8e-16cc-4b31-a7e4-6f4f4aee95fc",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 48,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2740
      ],
      "id": "d97f4030-a7b7-45c4-9e2a-1fe617f7a9f6",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 49,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        2920
      ],
      "id": "66f38e67-d00c-4199-aff3-2ccea4c9822d",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eefa412f-0ed7-4ec0-9038-a8b6987a788d",
              "name": "Género ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[3] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        1100
      ],
      "id": "a108ae4d-9b9c-4d5e-b855-8ccabf6a7728",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        1360
      ],
      "id": "00c7197e-d522-41cf-b629-71176027c1c6",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        1500
      ],
      "id": "d1454f13-805f-429c-9924-6ef26cd87bb3",
      "name": "Merge6"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        1440
      ],
      "id": "b792fa4c-d6f0-4353-bd3e-856175f9d8e8",
      "name": "Wait2",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1900,
        700
      ],
      "id": "7aa455aa-b86b-41b7-b988-798b047dda9a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2460,
        760
      ],
      "id": "3d093831-a412-4e7d-824d-09104674b00a",
      "name": "Wait4",
      "webhookId": "0178f68c-253e-43d3-865a-37436999b8f5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4ba18d52-5237-448a-9cef-2aeef95e4bb7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://zumzeigcine.coop/cinema/sessions/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        500
      ],
      "id": "c67555b8-6408-4cd0-815f-6f72059f9bd1",
      "name": "HTTP Request Zumzeig"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.desktop > div.films> a.film",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract3",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        180,
        680
      ],
      "typeVersion": 1,
      "id": "ae4c57da-6343-48dc-8be3-fc70f42dfb47"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        520
      ],
      "id": "fc664c14-e8d4-4d35-8f8e-d770d886aaec",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Trailer",
              "cssSelector": "div.linkdestacado > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "Ficha Tecnica",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            },
            {
              "key": "Tipo",
              "cssSelector": "h1",
              "returnValue": "attribute",
              "attribute": "class"
            },
            {
              "key": "Fotograma",
              "cssSelector": "#content > div.b.full > div > img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1020,
        620
      ],
      "id": "be1586d7-3281-48fb-99e4-e4647fa6e82d",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=4",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json[\"Ficha Tecnica\"][2].split(': ')[1] }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json[\"Ficha Tecnica\"][1].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json[\"Ficha Tecnica\"][3].split(': ')[1].replaceAll(\"'\", ' min') }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "={{ $json[\"Ficha Tecnica\"][7].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "=####",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis.replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=https://zumzeigcine.coop{{ $json.Fotograma.last() }}",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "=",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "=",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json[\"Sinopsis CAT\"].replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        540
      ],
      "id": "d59dc391-f7d0-4518-87ff-beb69cf5a0e4",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/es/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        640
      ],
      "id": "f1037cb3-2d7e-4983-9db9-71febb0b0928",
      "name": "Zumzeig Peliculas"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo CAT",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis CAT",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Ficha Tecnica CAT",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1020,
        400
      ],
      "id": "58c32507-e705-4860-a4f3-ce1b525752de",
      "name": "HTML1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1260,
        540
      ],
      "id": "ad7477b4-f8ba-4cfc-8d23-5adef5de72f4",
      "name": "Merge7"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        400
      ],
      "id": "75aa5bf5-9580-4225-98e0-e08d8fc990b5",
      "name": "Zumzeig Peliculas CAT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        380
      ],
      "id": "d8faf690-2ecf-4104-ad8d-58b28628816b",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        520
      ],
      "id": "4d810b83-5c6b-4157-8e93-f7489cc8db15",
      "name": "Merge8"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1880,
        460
      ],
      "id": "fe3bf815-39dc-4491-b33b-04c3fd13f434",
      "name": "Wait3",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.peli-item>div.zitem>div.overlay>div.text>a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        640,
        200
      ],
      "id": "af3895c1-e091-47f2-acda-f96d7183f0bb",
      "name": "HTML2"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -20,
        200
      ],
      "id": "3a8b2425-b67d-4efe-87d0-71d347d6ccf9",
      "name": "Selenium OcinePeliculas"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "id": "1ecf2973-d23f-4c48-b3a9-1ac775233dee",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1080,
        200
      ],
      "id": "b4b642be-f02f-4dcc-9ce4-c1ecf8f47222",
      "name": "Selenium OcinePeliculas1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        860,
        200
      ],
      "id": "5a727b1d-0ece-42b8-9956-4e0361da36a3",
      "name": "Split Out10"
    },
    {
      "parameters": {
        "url": "https://zumzeigcine.coop/es/cine/calendari/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        400
      ],
      "id": "20371647-2260-4335-bac9-11d18ab9696b",
      "name": "HTTP Request Zumzeig Calendario"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "dias",
              "cssSelector": "td.day[rel]",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "fechas",
              "cssSelector": "td.day[rel]",
              "returnValue": "attribute",
              "attribute": "rel",
              "returnArray": true
            },
            {
              "key": "tipos",
              "cssSelector": "td.day[rel] a",
              "returnValue": "attribute",
              "attribute": "tipo",
              "returnArray": true
            },
            {
              "key": "filmid",
              "cssSelector": "td.day[rel] a",
              "returnValue": "attribute",
              "attribute": "filmid",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ],
      "id": "5863f3a2-7e11-4549-b956-00b2ab384ea0",
      "name": "HTML3"
    },
    {
      "parameters": {
        "jsCode": "// Procesar los datos extraídos\nconst calendarioData = items[0].json;\nlet peliculasConFechas = [];\n\nif (calendarioData.dias && calendarioData.fechas && calendarioData.dias.length === calendarioData.fechas.length) {\n  for (let i = 0; i < calendarioData.dias.length; i++) {\n    const html = calendarioData.dias[i];\n    const fecha = calendarioData.fechas[i];\n    const diaMes = fecha.split('-')[2];\n    \n    // Extraer títulos de películas de este HTML\n    // Esto es un análisis manual del HTML, no es ideal pero funciona\n    const regexTitulo = /<div class=\"film\">(.*?)<\\/div>/g;\n    const regexFilmId = /filmid=\"(\\d+)\"/g;\n    const regexTipo = /tipo=\"(\\w+)\"/g;\n    \n    let titulosMatch;\n    let filmIdsMatch;\n    let tiposMatch;\n    const titulos = [];\n    const filmIds = [];\n    const tipos = [];\n    \n    while ((titulosMatch = regexTitulo.exec(html)) !== null) {\n      titulos.push(titulosMatch[1]);\n    }\n    \n    while ((filmIdsMatch = regexFilmId.exec(html)) !== null) {\n      filmIds.push(filmIdsMatch[1]);\n    }\n    \n    while ((tiposMatch = regexTipo.exec(html)) !== null) {\n      tipos.push(tiposMatch[1]);\n    }\n    \n    // Crear entradas para cada película en este día\n    for (let j = 0; j < titulos.length; j++) {\n      peliculasConFechas.push({\n        titulo: titulos[j],\n        filmId: filmIds[j] || \"\",\n        tipo: tipos[j] || \"\",\n        dia: diaMes\n      });\n    }\n  }\n}\n\nreturn peliculasConFechas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        520
      ],
      "id": "052e7663-6bc9-42f0-a9b4-108fd58242fc",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mooby Cinemas Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filtro href Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filtro href peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cinema Malda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mooby Cinemas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phenomena Experience",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Zumzeig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Mooby Cinemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href Peliculas": {
      "main": [
        [
          {
            "node": "Cinema Malda Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href peliculas": {
      "main": [
        [
          {
            "node": "Phenomena Experience Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Malda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Phenomena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Mooby Cinemas": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Phenomena": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "HTML Extract13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract9": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Selenium Arenas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Aribau",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Bosque",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Glories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Sarria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Balmes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract13": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Malda": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTML Extract9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "HTML Extract15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract11": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract15": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "HTML Extract11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "HTML Extract16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract12": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract16": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "HTML Extract12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "HTML Extract18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract17": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract18": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "HTML Extract17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "HTML Extract20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract19": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract20": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "HTML Extract19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "HTML Extract22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract21": {
      "main": [
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract22": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "HTML Extract21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Aribau": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Arenas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Balmes": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Bosque": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Glories": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Sarria": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Zumzeig": {
      "main": [
        [
          {
            "node": "HTTP Request Zumzeig Calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract3": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zumzeig Peliculas": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zumzeig Peliculas CAT": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium OcinePeliculas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Split Out10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out10": {
      "main": [
        [
          {
            "node": "Selenium OcinePeliculas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Zumzeig Calendario": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "HTML Extract3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Zumzeig Peliculas CAT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zumzeig Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b97e570-eb42-465d-8d71-a6be23dbd661",
  "meta": {
    "instanceId": "c5670ce3ff44562ffb59bb7547a598ef72aab23a3d699a609b6a259b5472a49e"
  },
  "id": "NX9SplYWZlvLts2h",
  "tags": []
}