My_workflow_2 (7).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.moobycinemas.com/cartelera",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        820
      ],
      "id": "63aa7ebf-e268-4fa7-b964-df63f3b0148b",
      "name": "Mooby Cinemas"
    },
    {
      "parameters": {
        "url": "https://www.cinemamalda.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        1140
      ],
      "id": "a37111c8-0a7a-4b80-a572-076e223b9902",
      "name": "Cinema Malda"
    },
    {
      "parameters": {
        "url": "https://www.phenomena-experience.com/programacion-peliculas/todas.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        1420
      ],
      "id": "63e1b9c9-808d-47ad-8423-060e3377d0c7",
      "name": "Phenomena Experience"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "main nav a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        240,
        820
      ],
      "typeVersion": 1,
      "id": "cd403ff1-fe21-4c5a-b475-60162610f29a"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        820
      ],
      "id": "2a32629f-c921-4907-856a-4a8ef2d69877",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=1",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json.Datos[0].split(':')[1].trim() }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json.Datos.find(item => item.includes('Direcció')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json.Datos.find(item => item.includes('Durada')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "={{ $json.Datos[1].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "={{ $json.translatedText }}",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "={{ $json.Datos.find(item => item.includes('Repartiment')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "={{ $json.Datos[5].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json.Sinopsis[1].replaceAll('\\n','. ').replaceAll('·','').replaceAll('. .','..')}}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json.Datos.find(item => item.includes('Idioma original')).split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json.Datos[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        820
      ],
      "id": "a2f18d31-28f2-40a1-995f-cd3791988429",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3120,
        1400
      ],
      "id": "94409bf8-e74e-4577-8a99-d9b9bf8e1a9f",
      "name": "Merge"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "a.movie",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        240,
        1140
      ],
      "typeVersion": 1,
      "id": "d81374f3-91f7-4cbe-ac04-69ba3c3d382b"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        680,
        1140
      ],
      "id": "f83fb445-716f-4ade-9ec6-8f4e6f7e2e40",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.event-titulo > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract2",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        240,
        1420
      ],
      "typeVersion": 1,
      "id": "0b57aa5b-9c84-4f61-82a9-f637ad9f0fdf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        1420
      ],
      "id": "52ce1db8-7c52-4b46-8499-805213955d25",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "321beee9-3545-4c0e-a1dc-7f1ac2ed813d",
              "name": "ID Cine",
              "value": 2,
              "type": "number"
            },
            {
              "id": "32cb8ca4-34c4-4edc-9926-bbcd23b54575",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "92781ded-1250-4675-baec-eee4ba1fb31d",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "faf38faa-e00d-4e53-84d6-adda080df36b",
              "name": "Reparto CAS",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "136219d8-4570-4b31-8c49-74d0695daef8",
              "name": "Año",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[1].trim() }}",
              "type": "number"
            },
            {
              "id": "c0c4223d-19b0-4a8b-9acd-59832bd57027",
              "name": "Dirección",
              "value": "={{ $json.Datos[0].split('/')[2].split(':')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "cd221c68-851b-455f-8837-ea0156a8dbbd",
              "name": "Duración",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[5].trim() : $json.Datos[0].split('/')[4].trim() }}",
              "type": "string"
            },
            {
              "id": "5e25fd1d-cf53-4a4e-9a53-bdebd156a4c5",
              "name": "Clasificación",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[7].split(' y distintivo')[0].trim() : $json.Datos[0].split('/')[6].split(' y distintivo')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "19e2c9ff-4fad-4605-b6ed-9bf191a7da9c",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "ae8553c8-a6ba-4896-813c-479069aa8fb6",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "3c01754f-a338-4a58-9542-50cc0a5f4ba2",
              "name": "Género CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[4].trim() : $json.Datos[0].split('/')[3].trim() }}",
              "type": "string"
            },
            {
              "id": "8fea8562-4b7f-4374-acee-6d901c24b1ab",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos[0].split('/').some(entry => entry.includes('Intérpretes') || entry.includes('Intervenciones de') || entry.includes('Intervienen')) ? $json.Datos[0].split('/')[6].trim() : $json.Datos[0].split('/')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "f639932e-691e-4c3c-a1db-ab230e54cd6e",
              "name": "País CAS",
              "value": "={{ $json.Datos[0].split('/')[1].split(/[:\\,]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "4b8a5778-c7b9-4c64-be2a-2527188f3e1c",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Datos[1].replace('Sinopsis:','').trim() }}",
              "type": "string"
            },
            {
              "id": "1e21b454-c7e3-4433-aa27-920e4fffaea8",
              "name": "Nombre Película ENG",
              "value": "={{$json.Datos[0].split('/')[0].replace('»', '').replace('«','').trim()}}",
              "type": "string"
            },
            {
              "id": "9610c84b-4a51-47e3-8d2b-90a340012a11",
              "name": "Fotograma",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6a95e1bc-0a02-4235-a2be-15fadb2d080f",
              "name": "Reparto CAT",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "a2212737-2dbe-40bc-a373-4c3393ccf787",
              "name": "Reparto ENG",
              "value": "={{$json.Datos[0].split('/')[3].split(':')[1].trim()}}",
              "type": "string"
            },
            {
              "id": "22620201-81bd-4ced-bf73-d7dc53d04b55",
              "name": "Cartelera",
              "value": "={{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "94881cac-fb35-459d-bd19-a00dd4960cce",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "2f9f914d-4569-4fe4-8dfb-60b1f72c19e1",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "84839f44-6a9e-4043-aca2-2d1818db2668",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "d192463f-2987-46f6-a3a4-049723e2f1ee",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "9d3a623c-0591-46ed-842c-66c9f3f6d486",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "549a22bc-d5b3-4455-820f-67f2917f0233",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "56c33424-0878-47e5-a35f-448275782f2d",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "b38967c9-2537-405d-8e07-6994a40808a4",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "2119c3a6-3088-4e07-b1db-747ff0b72c2b",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "bd1a853d-1dff-4c7c-9d83-8d9b26839194",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d4486a73-8770-4818-b77a-431a0adaed3a",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "2d4be671-9507-4b91-8fd8-299a4b3ab645",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        1140
      ],
      "id": "7c035c71-9d34-4570-a134-bbc82823eb6b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        1140
      ],
      "id": "a30999f6-a64c-47e0-812f-a05cf378113a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d029203-9a5f-47e4-ac47-0d5fd84f43f7",
              "name": "ID Cine",
              "value": 3,
              "type": "number"
            },
            {
              "id": "5ba39458-f651-47e8-91b0-72b385986ef7",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "e1c10463-1487-4ac0-9e50-7072ddb5ad68",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "543228af-acac-41bb-8b9d-9a9827dce09c",
              "name": "Reparto CAS",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "3fc493bf-8fd0-4ae7-94a9-1536d7952214",
              "name": "Año",
              "value": "={{ $json.Datos.split('·')[0].split(',').last().trim().isNumeric() ? $json.Datos.split('·')[0].split(',').last().trim() : 0 }}",
              "type": "number"
            },
            {
              "id": "0ad40229-2ee2-4f13-9f65-33eba5758bc2",
              "name": "Dirección",
              "value": "={{ $json.Datos.split('·')[0].split(/, (?:1|2)/)[0].replace('Dir.','') }}",
              "type": "string"
            },
            {
              "id": "940a0b95-e4e8-4e4c-b3d8-42c59aa151b7",
              "name": "Duración",
              "value": "={{ $json.Datos.split('·')[2].trim().replace(\"'\",\" min\") }}",
              "type": "string"
            },
            {
              "id": "03360bef-659d-4495-9b80-85f11f8ecb37",
              "name": "Clasificación",
              "value": "",
              "type": "string"
            },
            {
              "id": "b4f189db-de64-4408-b90a-6a9b1c37eb91",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "b799d688-40f1-4a33-af5b-5d7cba573e44",
              "name": "Fecha",
              "value": "####",
              "type": "string"
            },
            {
              "id": "14bcbdb8-e4a5-487a-85d7-45e3ccb6ddb3",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "9a535434-0c41-4909-9c24-1aae0525765c",
              "name": "Idioma CAS",
              "value": "={{ $json.Datos.split('·')[4].trim().startsWith('V') ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim()  }}",
              "type": "string"
            },
            {
              "id": "0d5fc970-960e-4337-9a80-24dc78cc64b2",
              "name": "País CAS",
              "value": "={{ $json.Datos.split('·')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "f3a5ba39-4ea9-483c-a9ac-e4135d6b52d1",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "7fd85551-be29-4e4e-87bf-1c685e434d14",
              "name": "Nombre Película ENG",
              "value": "={{ $json.Titulo2 }}",
              "type": "string"
            },
            {
              "id": "c36c5a17-14eb-48c2-9bd9-f15830641388",
              "name": "Fotograma",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "502b980c-e167-4c4f-bb41-99e79bcb8b63",
              "name": "Reparto CAT",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "20baf885-af39-4382-97a3-5598939df3f9",
              "name": "Reparto ENG",
              "value": "={{ $json.Reparto.replace('Int.','') }}",
              "type": "string"
            },
            {
              "id": "6382a041-fc62-4796-b5d9-7428abea1df2",
              "name": "Cartelera",
              "value": "=https://www.phenomena-experience.com/{{ $json.Poster }}",
              "type": "string"
            },
            {
              "id": "9f4621f7-e916-4777-89bb-5bf13767c292",
              "name": "Género CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "7b4215cb-a13f-42b4-8143-1a46ade6530f",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "bea1ae2b-31f4-4f41-8904-c13ba7fbb55d",
              "name": "Trailer",
              "value": "",
              "type": "string"
            },
            {
              "id": "994c3d42-c71d-4106-902e-085f21a78ed8",
              "name": "Sinopsis CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "a804c21d-9a4c-4efc-9be7-e260b3877dd9",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "6928ff49-b5aa-4981-b786-ba0dc17ee806",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "58862633-c5d0-4a63-9cf6-6ca69b5d23a2",
              "name": "Idioma CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "81521271-f785-42aa-91ed-d38f9c8c690f",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "e5df1b4d-7b78-4442-a899-634acd52b412",
              "name": "País CAT",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b7452a3-7392-4778-9bd8-1851beafbe89",
              "name": "Pais ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d64779fa-8cba-4a50-b4d9-1bf8478d1c2c",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "5822077b-6f56-494c-bdd7-dee2d8718705",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        1420
      ],
      "id": "ec761880-c54c-4b86-abd5-848a44b0c3f1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Nombre Pelicula CAS"
            }
          ]
        },
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3240,
        1080
      ],
      "id": "976fd458-5b5b-4f67-aaa9-fa5d955ae08f",
      "name": "Sort"
    },
    {
      "parameters": {
        "url": "=https://www.moobycinemas.com{{$json.Peliculas}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "setLang",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        820
      ],
      "id": "8ad92ff5-a580-4d77-a0ba-1aceac73a543",
      "name": "Mooby Cinemas Peliculas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dee1f996-48f5-484e-9bed-f58240b87b78",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "precios-cine-malda-barcelona-preus",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "43d631a1-6518-4b1d-9880-81136048a5a7",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "cartelera-dia-dia",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "61e30095-8874-495d-a3eb-d57b666f7740",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "sesionteta",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        900,
        1140
      ],
      "id": "afeaea85-a900-4289-85ab-1f2907917625",
      "name": "Filtro href Peliculas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35e1977d-8c9d-4554-9cf8-2afb43b919c6",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "/ciclo/",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1eadb5ad-7efe-4892-9db7-e84b9b1f3add",
              "leftValue": "={{ $json.Peliculas }}",
              "rightValue": "programa-doble-sorpresa-club-phenomena",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        1420
      ],
      "id": "82e68b7e-625a-456a-86d4-50f1449817ac",
      "name": "Filtro href peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        1140
      ],
      "id": "bce01362-1db8-426b-8d42-84b6374b2bc8",
      "name": "Cinema Malda Peliculas"
    },
    {
      "parameters": {
        "url": "={{ $json.Peliculas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        1420
      ],
      "id": "426b3884-5a6a-4e98-af62-132c1df6365a",
      "name": "Phenomena Experience Peliculas"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "table > tbody > tr",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "body > main > article > div.details > div > figure > picture > img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.synopsis > div",
              "returnArray": true
            },
            {
              "key": "Horario",
              "cssSelector": "body > main > section > div > div > div > div",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Mooby Cinemas",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        860,
        820
      ],
      "typeVersion": 1,
      "id": "6a0ad364-ff0a-4e04-ac4e-ce319dd47f51"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div.titulo",
              "returnValue": "html"
            },
            {
              "key": "Reparto",
              "cssSelector": "div.datos1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.datos2"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "div.datos3"
            },
            {
              "key": "Poster",
              "cssSelector": "img.ficha-img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Fotograma",
              "cssSelector": "img.videoin",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "Titulo2",
              "cssSelector": "div.titulo span"
            },
            {
              "key": "Horario",
              "cssSelector": "div.row.row-pases",
              "returnArray": true
            },
            {
              "key": "test",
              "cssSelector": "body > main > section:nth-child(6) > div > div > div > nav > button",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Phenomena",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1380,
        1420
      ],
      "typeVersion": 1,
      "id": "b1681df9-b566-44cf-9f75-11bc0216f58f"
    },
    {
      "parameters": {
        "content": "## Cartelera",
        "height": 1660,
        "width": 2560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        0
      ],
      "typeVersion": 1,
      "id": "67d017f7-2968-4465-8eae-81b23804f185",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3420,
        1060
      ],
      "id": "74499738-7122-4298-afd0-5461a8110f46",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "function eliminarDuplicadosYMantenerMasLargo(array) {\n    // Verificar si el array está vacío\n    if (!array || array.length === 0) return [];\n\n    // Agrupar objetos por el campo \"Nombre Pelicula CAS\"\n    const agrupadosPorNombre = array.reduce((acumulador, actual) => {\n        const clave = actual[\"Nombre Pelicula CAS\"];\n        if (clave === undefined) return acumulador;\n\n        if (!acumulador[clave]) {\n            acumulador[clave] = [];\n        }\n        acumulador[clave].push(actual);\n        return acumulador;\n    }, {});\n\n    // Para cada grupo, encontrar el objeto con la representación más larga\n    const resultado = Object.values(agrupadosPorNombre).map(grupo => {\n        return grupo.sort((a, b) => \n            JSON.stringify(b).length - JSON.stringify(a).length\n        )[0];\n    });\n\n    return resultado;\n}\n\n// Obtener las películas únicas\nconst peliculasUnicas = eliminarDuplicadosYMantenerMasLargo($input.first().json.data);\n\n// Extraer títulos para traducir\nconst titlesToTranslate = peliculasUnicas.map(pelicula => pelicula[\"Nombre Pelicula CAS\"]);\n\n// Devolver tanto los títulos a traducir como los datos originales\nreturn [{ json: { titlesToTranslate, peliculasUnicas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        1060
      ],
      "id": "1e9ebd55-b56e-4bf3-92f0-ceded94c6fe6",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split('(')[0] }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 68,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceSpecialChars().replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d]))}}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.filter(item => item !== '' && /\\d/.test(item)).map(item => item.split('h')[0].split(' ').filter((_, i) => i !== 1).filter(item => item !== '').join(', ')).join('; ').replaceAll('Mx','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Titulo.split('(')[1].replaceAll(')','') }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        1720
      ],
      "id": "7fa72cbf-2d11-4885-9a94-e2ecfb4009e6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Pases",
        "height": 1340,
        "width": 2560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        1700
      ],
      "id": "750123f6-0012-437b-8e88-c1dea149429c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(<]/)[0].replaceAll('&amp;','&').trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1201,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '') }}",
              "type": "string"
            },
            {
              "id": "cf92fa2a-b9d1-4e75-82ea-6ade5f5f60c2",
              "name": "HORARIO CAT",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"dl\",M:\"dt\",X:\"dc\",J:\"dj\",V:\"dv\",S:\"ds\",D:\"dg\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Horario.map(item => item.split(/,|\\n|h/).map(item => item.trim()).filter((_, i) => i == 0 || i == 2).join(', ')).join('; ').replaceSpecialChars().replaceAll('Miercoles','X').replaceAll(/[\"[\\]\\\\a-z]/g, '').replaceAll(/[LMXJVSD]/g, d=>({L:\"Mon\",M:\"Tue\",X:\"Wed\",J:\"Thur\",V:\"Fri\",S:\"Sat\",D:\"Sun\"}[d])) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "46861acf-7de1-4323-a09a-f55285dec770",
              "name": "VERSION CAT",
              "value": "={{ $json.Datos.split('·')[4].trim() !== '4K' ? $json.Datos.split('·')[4].trim() : $json.Datos.split('·')[5].trim() }}",
              "type": "string"
            },
            {
              "id": "5e56a5af-adea-429a-ab35-be7ede1a4ccc",
              "name": "VERSION ENG",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        1880
      ],
      "id": "f8a34d21-1447-48a8-936a-b5e0e332ddbe",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pelis_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pelis_icub.xlsx",
          "sheetName": "Pelis_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4880,
        1400
      ],
      "id": "f880395a-a650-47e1-a2e6-3935b3c1aa50",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2260,
        2080
      ],
      "id": "a90fe5a1-7ce1-4455-9ad9-04cc6a86cfe2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37176db1-f62a-4205-806b-514864947749",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'].trim() }}",
              "type": "string"
            },
            {
              "id": "595d6e65-2621-46f0-bc87-707e29504c49",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "fca85a2b-7847-49cc-82f7-920fc44b34f5",
              "name": "HORARIO CAS",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAS'] : ($json['HORARIO CAS'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAS'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "ffba3f28-578f-47c0-9e78-b67c00a370cc",
              "name": "HORARIO CAT",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO CAT'] : ($json['HORARIO CAT'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO CAT'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "a0a08e68-0f51-48b7-a00b-244efbb103c5",
              "name": "HORARIO EN",
              "value": "={{$json['ID CINE'] == 68 || $json['ID CINE'] == 1201 ? $json['HORARIO EN'] : ($json['HORARIO EN'].replaceAll(', ,', '').trim().length > 7 ? $json['HORARIO EN'] : \"\");}}",
              "type": "string"
            },
            {
              "id": "6056c15e-06fe-47a3-9f20-3b31c6f7bdcc",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "4617c1e6-25d6-4720-a165-a572c4fc3617",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "9b8f5f2a-d474-41d0-97eb-26362f37fe99",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        2180
      ],
      "id": "924d2c03-10d3-4dd7-b2d2-1903bfdf77fc",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "NOMBRE PELICULA"
            },
            {
              "fieldName": "ID CINE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2920,
        2180
      ],
      "id": "3fe3c9e2-b19b-4a87-beee-0b2e3c213c38",
      "name": "Sort1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Nombre Pelicula CAS",
              "field2": "NOMBRE PELICULA"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4180,
        2160
      ],
      "id": "153ab854-0bbf-4f8a-b640-f26433b04922",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0756cf35-1b44-493b-9c70-af3c4467fe46",
              "name": "ID",
              "value": "={{ $itemIndex + 1 }}",
              "type": "string"
            },
            {
              "id": "29573d06-c424-43f4-ab9f-f1c40a2f2748",
              "name": "ID PELI",
              "value": "={{ $json['ID Pelicula'] }}",
              "type": "string"
            },
            {
              "id": "99c30b43-9847-479d-8e6e-6dbfa21ea17a",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json['NOMBRE PELICULA'] }}",
              "type": "string"
            },
            {
              "id": "4e86d1e7-0bfd-4d71-a7f6-1c5a75660a58",
              "name": "ID CINE",
              "value": "={{ $json['ID CINE'] }}",
              "type": "string"
            },
            {
              "id": "aba80cdb-5ac3-467f-b836-ae504ab6c818",
              "name": "HORARIO CAS",
              "value": "={{ $json['HORARIO CAS'] }}",
              "type": "string"
            },
            {
              "id": "6cebd81f-d149-42dc-8b49-ba8c1195ac2a",
              "name": "HORARIO CAT",
              "value": "={{ $json['HORARIO CAT'] }}",
              "type": "string"
            },
            {
              "id": "cda04d95-1441-43b2-8ed3-1fca7a156225",
              "name": "HORARIO EN",
              "value": "={{ $json['HORARIO EN'] }}",
              "type": "string"
            },
            {
              "id": "dab277ef-03c6-48c7-a905-3786827a18e9",
              "name": "VERSION CAS",
              "value": "={{ $json['VERSION CAS'] }}",
              "type": "string"
            },
            {
              "id": "7464b792-6ada-446e-b169-7eaa46592b3f",
              "name": "VERSION CAT",
              "value": "={{ $json['VERSION CAT'] }}",
              "type": "string"
            },
            {
              "id": "38052f8b-141c-4d26-8538-3ffc739c466e",
              "name": "VERSION ENG",
              "value": "={{ $json['VERSION ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        2160
      ],
      "id": "14db21ad-88f9-409d-9a50-624933ef0465",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5aa846c7-dc5e-412f-acd4-98809a28ddcc",
              "name": "ID Pelicula",
              "value": "={{ 1 + $itemIndex + 27142 }}",
              "type": "string"
            },
            {
              "id": "ad178d42-852f-4c70-861c-65dbe9b63b9c",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json['Nombre Pelicula CAS'] }}",
              "type": "string"
            },
            {
              "id": "c3c33170-19c8-4d7e-98dd-05cd201f42bb",
              "name": "Reparto CAS",
              "value": "={{ $json['Reparto CAS'] }}",
              "type": "string"
            },
            {
              "id": "5624ddd1-7e76-4dfb-a931-af57a64fa264",
              "name": "Año",
              "value": "={{ $json['Año'] }}",
              "type": "number"
            },
            {
              "id": "8211ab89-5e7a-48f7-92de-b6e512e2ef38",
              "name": "Dirección",
              "value": "={{ $json['Dirección'] }}",
              "type": "string"
            },
            {
              "id": "86c57b27-c684-4781-bf5d-5f5620f459f8",
              "name": "Duración",
              "value": "={{ $json['Duración'] }}",
              "type": "string"
            },
            {
              "id": "53aadef4-044e-4785-a679-03892a3e3c79",
              "name": "Clasificación",
              "value": "={{ $json['Clasificación'] }}",
              "type": "string"
            },
            {
              "id": "7be1865d-673d-45d0-be1a-013f99ba9c3d",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "f84b2039-f201-4a1d-8409-d245d3f3f670",
              "name": "Fecha",
              "value": "={{ $json.Fecha }}",
              "type": "string"
            },
            {
              "id": "0f1d0f77-b424-4a24-ad7d-1e510063834a",
              "name": "Género CAS",
              "value": "={{ $json['Género CAS'] }}",
              "type": "string"
            },
            {
              "id": "04df362b-1d09-4515-887c-8d02bad19a07",
              "name": "Idioma CAS",
              "value": "={{ $json['Idioma CAS'] }}",
              "type": "string"
            },
            {
              "id": "a28342a0-2f46-41e9-a7db-02c111ba6d0b",
              "name": "País CAS",
              "value": "={{ $json['País CAS'] }}",
              "type": "string"
            },
            {
              "id": "c2ebccd6-febe-4dee-9703-872c9dd20d49",
              "name": "Sinopsis CAS",
              "value": "={{ $json['Sinopsis CAS'] }}",
              "type": "string"
            },
            {
              "id": "3c0bb654-788d-40b0-955b-afed70fbb96a",
              "name": "Nombre Película ENG",
              "value": "={{ $json[\"translatedTitles\"][$itemIndex] }}",
              "type": "string"
            },
            {
              "id": "ab51b9d9-a8e0-4db0-bd47-92b948a8fde4",
              "name": "Fotograma",
              "value": "={{ $json.Fotograma }}",
              "type": "string"
            },
            {
              "id": "6dc6becb-810a-4f7b-8eaf-6b4a3a4d1990",
              "name": "Reparto CAT",
              "value": "={{ $json['Reparto CAT'] }}",
              "type": "string"
            },
            {
              "id": "3ac23e6d-bdd6-45cf-bff2-f451bf49eca4",
              "name": "Reparto ENG",
              "value": "={{ $json['Reparto ENG'] }}",
              "type": "string"
            },
            {
              "id": "ca61cd81-082a-4a88-9c65-890e630efb2b",
              "name": "Cartelera",
              "value": "={{ $json.Cartelera.split('/').last() }}",
              "type": "string"
            },
            {
              "id": "3bfa65fc-1b16-45e1-a01f-6f564eda9991",
              "name": "Género CAT",
              "value": "={{ $json['Género CAT'] }}",
              "type": "string"
            },
            {
              "id": "b0787aba-cc16-4596-9384-ee1194da7c44",
              "name": "Género ENG",
              "value": "={{ $json['Género ENG'] }}",
              "type": "string"
            },
            {
              "id": "54ca0be3-3510-4137-94cd-18797b86bc39",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "49b4d7a7-7c59-4fe5-b2d5-b09931b132e7",
              "name": "Sinopsis CAT",
              "value": "={{ $json['Sinopsis CAT'] }}",
              "type": "string"
            },
            {
              "id": "d7031a72-9f5c-45e4-8702-6f8e075671df",
              "name": "Sinopsis ENG",
              "value": "={{ $json['Sinopsis ENG'] }}",
              "type": "string"
            },
            {
              "id": "ddd0a62e-bf5a-42c6-8ee7-9e39a6eaa10d",
              "name": "Imagen CAS",
              "value": "={{ $json['Imagen CAS'] }}",
              "type": "string"
            },
            {
              "id": "148d111a-b6ac-48e8-9061-747913b0ad54",
              "name": "Idioma CAT",
              "value": "={{ $json['Idioma CAT'] }}",
              "type": "string"
            },
            {
              "id": "0fadc1ea-5fd6-46ea-a50e-972a571c3948",
              "name": "Idioma ENG",
              "value": "={{ $json['Idioma ENG'] }}",
              "type": "string"
            },
            {
              "id": "967d0f1b-e7ef-4a1f-bff5-21ae1597e724",
              "name": "País CAT",
              "value": "={{ $json['País CAT'] }}",
              "type": "string"
            },
            {
              "id": "ba3a7ee7-e53c-43c9-ba7e-7d86642c7c2f",
              "name": "País ENG",
              "value": "={{ $json['País ENG'] }}",
              "type": "string"
            },
            {
              "id": "ce3e9a43-4cd9-41a6-9651-66197115bda7",
              "name": "Imagen CAT",
              "value": "={{ $json['Imagen CAT'] }}",
              "type": "string"
            },
            {
              "id": "f7b08d83-49cb-49b1-8ca0-9d493a7f3c9f",
              "name": "Imagen ENG",
              "value": "={{ $json['Imagen ENG'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4460,
        980
      ],
      "id": "7163abf9-d560-41f6-ae24-51b7c6a6af61",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Pases_icub",
        "options": {
          "fileName": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0].replaceAll('-','') }}_Pases_icub.xlsx",
          "sheetName": "Pases_icub"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4880,
        2160
      ],
      "id": "b31f2dcf-4833-42aa-b6a7-1ce8e4164a23",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        1980
      ],
      "id": "87c99d67-e32c-4287-9f8e-8eaba97d1849",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract9",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        1980
      ],
      "typeVersion": 1,
      "id": "e8adc05a-8bf8-4416-a363-0372fa98ad6c"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        2440
      ],
      "id": "59d13af3-ff92-4b2d-8898-ca6c4ea511c7",
      "name": "Wait",
      "webhookId": "512a5877-0277-458b-bf96-5110fa96b5d6"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract13",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        1980
      ],
      "typeVersion": 1,
      "id": "2c159392-cc96-4c4d-9904-d47ead2baf20"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 1038,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        1980
      ],
      "id": "cc1b299d-1046-4836-bb33-5d3bd8df76ba",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45dd401d-5e77-4482-9aec-b2fa6c1b7c70",
              "leftValue": "={{ $json['NOMBRE PELICULA'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3180,
        2180
      ],
      "id": "01e6c208-9d72-4956-9839-76db60533bad",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5260,
        1640
      ],
      "id": "e9f68939-bdab-402f-9af7-b86a9e2cc617",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5020,
        1640
      ],
      "id": "712f3f73-a497-4366-ae69-1f3925801953",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Peliculas.replaceAll('/','') }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3260,
        640
      ],
      "id": "7a8f97cf-454e-47d5-b2dc-0cb270417ecb",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "0092331a-39ff-4afd-9462-19001aec12d7",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 429,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3040,
        640
      ],
      "id": "bc8084f9-3bcd-4dd0-babf-d0e8911c5daf",
      "name": "Filter1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.api }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2840,
        640
      ],
      "id": "0c4fd7a5-e8f1-4db7-be71-3f73b6b2bca9",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://172.21.0.3:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "query",
              "value": "={{ $json.Titulo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2080,
        640
      ],
      "id": "1237f822-64e7-4e64-9b2b-484c52b8d1da",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b219f633-4251-4089-b2b7-31235d5b6e88",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1860,
        640
      ],
      "id": "b1c55151-48f1-4e57-b534-117067911657",
      "name": "Filter2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2480,
        640
      ],
      "id": "6422dd5d-5cff-4c06-af8a-023c67894bdd",
      "name": "Wait1",
      "webhookId": "ec38c35e-8d62-4d48-8e11-75ed1f9bebb5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d8530c-c351-4c8d-87e2-1ecc8096f1bd",
              "leftValue": "={{ $json['ID PELI'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4640,
        2160
      ],
      "id": "787dffe9-779d-4d33-be8a-782da5bdb2b9",
      "name": "Filter3"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Datos",
              "cssSelector": "div.sinopsi > p",
              "returnArray": true
            },
            {
              "key": "Poster",
              "cssSelector": "#genesis-content > div.side > img",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days",
              "returnArray": true
            },
            {
              "key": "Trailer",
              "cssSelector": "div.video > iframe",
              "returnValue": "attribute",
              "attribute": "data-src"
            },
            {
              "key": "Horario",
              "cssSelector": "div.entry-content div.days > div.day",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "Extraer datos Malda",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1380,
        1140
      ],
      "typeVersion": 1,
      "id": "4d0a0e14-ff5d-4ac7-b00e-c2533970c6c9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2620,
        840
      ],
      "id": "b17d76b8-3e93-4ad1-9969-f2308e763961",
      "name": "Merge4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2400,
        1120
      ],
      "id": "345dd9a1-bd04-4773-9637-17f783e37dd5",
      "name": "Merge5"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        1980
      ],
      "id": "a68a0e45-e1b3-424c-9f17-aa357c37b337",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6bf1a5c-79db-4d9b-a79a-a2cae0c2bd55",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json.message.content.Nombre || $json.message.content[\"Nombre de película\"] }}",
              "type": "string"
            },
            {
              "id": "668eefb5-a90a-48ad-a628-5d5f9785e48d",
              "name": "Género CAS",
              "value": "={{ $json.message.content[\"Género\"] }}",
              "type": "string"
            },
            {
              "id": "8aedbb6c-492e-4e9a-becd-9749884b3b68",
              "name": "País CAS",
              "value": "={{ $json.message.content[\"País\"] }}",
              "type": "string"
            },
            {
              "id": "c07c7f9d-9517-45ed-9292-f5554a705f58",
              "name": "Sinopsis CAS",
              "value": "={{ $json.message.content.Sinopsis }}",
              "type": "string"
            },
            {
              "id": "ea5dfbff-dc26-4d00-b877-70ed27510be3",
              "name": "Nombre Película ENG",
              "value": "={{ $json.message.content.Name }}",
              "type": "string"
            },
            {
              "id": "bd362771-a5ba-4d72-869b-d27eab1d506b",
              "name": "Género ENG",
              "value": "={{ $json.message.content.Genre }}",
              "type": "string"
            },
            {
              "id": "db9b9b58-6cad-4f1f-aa0e-336b59ecdb21",
              "name": "=Idioma ENG",
              "value": "={{ $json.message.content.Language }}",
              "type": "string"
            },
            {
              "id": "226f780f-248a-451f-9b79-a30c85b05c2b",
              "name": "País ENG",
              "value": "={{ $json.message.content.Country }}",
              "type": "string"
            },
            {
              "id": "c73d672b-8bd1-4467-97ce-193ec0b2dac0",
              "name": "Sinopsis ENG",
              "value": "={{ $json.message.content.Synopsis }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1260,
        640
      ],
      "id": "88574dc2-3fcf-44f4-ad1c-8ddac03f9814",
      "name": "Edit Fields14",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Actúa como traductor. Te enviaré datos de películas en catalán correspondientes a los siguientes campos: Nombre de película, Género, Idioma, País y Sinopsis. Tu tarea es traducir cada campo al castellano y al inglés en el orden indicado, y devolver el resultado manteniendo el orden original de los campos y mostrando únicamente las traducciones.",
              "role": "system"
            },
            {
              "content": "={{ $json[\"Nombre Pelicula CAS\"] }}; {{ $json[\"Género CAT\"] }}; {{ $json[\"Idioma CAT\"] }}; {{ $json[\"País CAT\"] }}; {{ $json[\"Sinopsis CAT\"] }}"
            },
            {
              "content": "Asegúrate de que el output del JSON sea siempre Nombre, Género, Idioma, País, Sinopsis, Name, Genre, Language, Country y Synopsis sin ningún tipo de de variación (ie Nombre de película en vez de nombre)",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1620,
        640
      ],
      "id": "98c2c667-c54e-4187-82f9-bfd1d1921b5a",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        2160
      ],
      "id": "57023555-2f31-4339-9a40-004b0f9216aa",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract11",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        2160
      ],
      "typeVersion": 1,
      "id": "15202c41-3beb-4301-abe4-b6e55a6d9df2"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract15",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        2160
      ],
      "typeVersion": 1,
      "id": "cf03a185-0c2d-473d-a47a-1b5dc7fcd62e"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        2160
      ],
      "id": "3e618ac2-de9e-40c6-b304-cae2faa3cab4",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        2320
      ],
      "id": "47bdd9f2-d48c-4945-9670-8a144de97038",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract12",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        2320
      ],
      "typeVersion": 1,
      "id": "30c7911f-1ebc-4794-a2b9-9251a3f6ffd2"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract16",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        2320
      ],
      "typeVersion": 1,
      "id": "fff2b25b-449e-4672-b13a-63a5ab5b32ac"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        2320
      ],
      "id": "4e8d0c23-9b9d-4b3a-a9bc-d283f05dc858",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        2480
      ],
      "id": "1fe4c8bd-79b3-4538-b122-d15310eaa763",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract17",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        2480
      ],
      "typeVersion": 1,
      "id": "c91ff31a-dc08-409f-8d51-c428abafcaee"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract18",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        2480
      ],
      "typeVersion": 1,
      "id": "36673a5d-e887-49cd-b139-6c26d1d05165"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        2480
      ],
      "id": "c56dfaa0-215f-48ab-9d49-fe58e43e24f6",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        2640
      ],
      "id": "9967c7a4-02b5-4799-a8f9-52ea7f1db0d1",
      "name": "Split Out8"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract19",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        2640
      ],
      "typeVersion": 1,
      "id": "39b96d18-6ffe-4682-964e-861bc18f56b4"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract20",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        2640
      ],
      "typeVersion": 1,
      "id": "ed7b5f41-f445-4a5e-b19e-215652360c13"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        2640
      ],
      "id": "f54b6547-648c-493d-bd44-28e7709299f4",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        2820
      ],
      "id": "17d189b5-b6c1-4966-b318-1e50fda86c99",
      "name": "Split Out9"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "article:has(a.event)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract21",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        560,
        2820
      ],
      "typeVersion": 1,
      "id": "d2b7c869-cd4d-4981-a559-705097540cd3"
    },
    {
      "parameters": {
        "dataPropertyName": "=Peliculas",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "div > a > header"
            },
            {
              "key": "Dias",
              "cssSelector": "div > section > div > a > select > option",
              "returnArray": true
            },
            {
              "key": "Version",
              "cssSelector": "div>section>div>div>section:not([style*=\"display: none\"]) header",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract22",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        940,
        2820
      ],
      "typeVersion": 1,
      "id": "1efa4aaf-a04e-4bcf-b1b2-8bf0132ad36a"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        2820
      ],
      "id": "8b5006c7-a73b-485c-895e-5ad11830b375",
      "name": "Read/Write Files from Disk6"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/aribau"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        2160
      ],
      "id": "3dcb2f24-4945-4532-ab96-3bb2a5001720",
      "name": "Selenium Aribau"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/arenas"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        1980
      ],
      "id": "efa25d9b-f234-4159-9f6e-be0ad71e5d14",
      "name": "Selenium Arenas"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/balmes"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        2320
      ],
      "id": "11b4b10a-098b-4d61-977f-bf46cdb924b8",
      "name": "Selenium Balmes"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/bosque"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        2480
      ],
      "id": "d6479a75-99e8-4781-9c4e-b179037fbb75",
      "name": "Selenium Bosque"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/glories"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        2640
      ],
      "id": "0904cdf9-d2dd-43f8-bd73-b37eb4e10684",
      "name": "Selenium Glories"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.moobycinemas.com/sarria"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        2820
      ],
      "id": "288ff7f4-bf4a-49b1-b8ea-4c356af44030",
      "name": "Selenium Sarria"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4180,
        2380
      ],
      "id": "4cf13b8b-944c-4ec3-8c32-4b808bbe4215",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 8,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{ $json.Version.includes('(') ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').last()).join('; ').replaceAll(')','') : '####' }}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        2160
      ],
      "id": "0add6876-c8a2-483b-ad83-348b9a18f631",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": "={{ 1172 }}",
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        2320
      ],
      "id": "018acd05-24df-4f11-b25d-0ebf5c8c2f5a",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 14,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        2480
      ],
      "id": "90a6bbdc-96e8-4e6a-891c-667b065474d2",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 48,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        2640
      ],
      "id": "3feff386-7963-4ba0-ab8c-2c5f94d05542",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c22b2-2cd4-4961-8632-672bfe71f23c",
              "name": "NOMBRE PELICULA",
              "value": "={{ $json.Titulo.split(/[(-]/)[0].trim() }}",
              "type": "string"
            },
            {
              "id": "50570457-002c-41db-956e-3c701368455a",
              "name": "ID CINE",
              "value": 49,
              "type": "number"
            },
            {
              "id": "ca94315e-e976-4707-ab73-c473670f7f8b",
              "name": "HORARIO CAS",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'V', ds:'S', dg:'D', dl:'L', dt:'M', dc:'X', dj:'J'})[match]) }}",
              "type": "string"
            },
            {
              "id": "300f551e-4db8-4e53-b93e-b2752505fe46",
              "name": "HORARIO CAT",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj') }}",
              "type": "string"
            },
            {
              "id": "bd6a60a0-cf5c-483b-aaf4-2413a161b77e",
              "name": "HORARIO EN",
              "value": "={{ $json.Dias.map(item => item.replaceAll(/[0-9:/.]/g, '').trim()).unique().slice(0,7).join('; ').replaceAll('avui', 'dj').replaceAll(/\\b(dv|ds|dg|dl|dt|dc|dj)\\b/g, match => ({dv:'Fri', ds:'Sat', dg:'Sun', dl:'Mon', dt:'Tue', dc:'Wed', dj:'Thu'})[match]) }}",
              "type": "string"
            },
            {
              "id": "62439df6-5eeb-43b3-b64f-0b382b09b5ea",
              "name": "VERSION CAS",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "36235e71-b28e-4273-8745-5c5f0c520ce3",
              "name": "VERSION CAT",
              "value": "={{$json.Version.some(item => item.includes('(')) ? $json.Version.filter(item => !item.includes('ATMOS')).map(item => item.split('(').pop()).join('; ').replaceAll(')', '') : '####'}}",
              "type": "string"
            },
            {
              "id": "e68e254a-98be-4ba7-8499-592299af78d9",
              "name": "VERSION ENG",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        2820
      ],
      "id": "326b9e28-5e5b-4889-a99c-2b0329a76e97",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eefa412f-0ed7-4ec0-9038-a8b6987a788d",
              "name": "Género ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[3] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1000
      ],
      "id": "a71bc285-9285-4a1e-967b-01ee4ea77151",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1260
      ],
      "id": "6d5d983d-a263-4831-aec2-b6025c6d7c83",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2400,
        1400
      ],
      "id": "7124fc6e-e0d5-4803-9022-ba7ca1126306",
      "name": "Merge6"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1880,
        1340
      ],
      "id": "4f110df0-02d2-4196-97ac-34d38c457576",
      "name": "Wait2",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2100,
        600
      ],
      "id": "c43c242e-fc7b-47aa-b5c0-4534a529881f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        660
      ],
      "id": "6bf2ef31-25e6-4915-a8e8-40c1ae638d1f",
      "name": "Wait4",
      "webhookId": "0178f68c-253e-43d3-865a-37436999b8f5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        -100
      ],
      "id": "5dee18e4-1274-4fcc-8139-4ebd447127c8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://zumzeigcine.coop/cinema/sessions/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        340
      ],
      "id": "973786a8-f469-4214-ba06-dcd92a192ed2",
      "name": "HTTP Request Zumzeig"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": ".film h2.filmtitle",
              "returnArray": true
            },
            {
              "key": "BloquesPeliculas",
              "cssSelector": ".film",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract3",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        0,
        300
      ],
      "typeVersion": 1,
      "id": "debf4201-03d0-4d72-a98f-2a9492084494"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Trailer",
              "cssSelector": "div.linkdestacado > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "Ficha Tecnica",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            },
            {
              "key": "Tipo",
              "cssSelector": "h1",
              "returnValue": "attribute",
              "attribute": "class"
            },
            {
              "key": "Fotograma",
              "cssSelector": "#content > div.b.full > div > img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        800,
        460
      ],
      "id": "dc212f9f-3152-41cf-bb51-aff5b8616ea2",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83a8296-3300-4dec-8f9f-f976d9f43ff8",
              "name": "ID Cine",
              "value": "=4",
              "type": "number"
            },
            {
              "id": "6ceb8b66-f65f-4a84-8526-b7a1ecf08b5d",
              "name": "ID Pelicula",
              "value": "",
              "type": "string"
            },
            {
              "id": "c6164539-8472-429f-a83f-0927634ab2ac",
              "name": "Nombre Pelicula CAS",
              "value": "={{ $json['Nombre Pelicula CAS'] }}",
              "type": "string"
            },
            {
              "id": "1012e859-c1ad-4f05-89bd-ac25231e2977",
              "name": "Reparto CAS",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6791778e-1f54-4810-99a3-b81e2f948444",
              "name": "Año",
              "value": "={{ $json[\"Ficha Tecnica\"][2].split(': ')[1] }}",
              "type": "number"
            },
            {
              "id": "9a4da4d1-0ce7-4f49-a481-4b2538efc3a4",
              "name": "Dirección",
              "value": "={{ $json[\"Ficha Tecnica\"][1].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "1c34cd15-5c9e-4a62-a284-49d83ecf65e6",
              "name": "Duración",
              "value": "={{ $json[\"Ficha Tecnica\"][3].split(': ')[1].replaceAll(\"'\", ' min') }}",
              "type": "string"
            },
            {
              "id": "0514c018-8b05-4ea5-9097-d8e48b0a5604",
              "name": "Clasificación",
              "value": "={{ $json[\"Ficha Tecnica\"][7].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "6f46f198-40b2-45ea-a868-8eb3fed2cba2",
              "name": "Tipo",
              "value": "={{ $json['Año'] >= 2025 ? 'Estreno' : 'Película' }}",
              "type": "string"
            },
            {
              "id": "4203505a-190a-4925-aea4-48f204eb05ca",
              "name": "Fecha",
              "value": "={{ $json.Fecha }}",
              "type": "string"
            },
            {
              "id": "af417495-89d2-41e0-91d5-d3d204f029f0",
              "name": "Género CAS",
              "value": "",
              "type": "string"
            },
            {
              "id": "266d8463-849b-4c9c-9ad8-9e7a1dedd7b2",
              "name": "Idioma CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "a77d8211-037e-42b1-960a-10f824e34edc",
              "name": "País CAS",
              "value": "={{ $json[\"Ficha Tecnica\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "b43b2bc2-ec2b-4bc7-b6a9-909a6a8ea3a2",
              "name": "Sinopsis CAS",
              "value": "={{ $json.Sinopsis.replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "f2f5e03c-5ae6-44c4-93b2-da3521a83036",
              "name": "Nombre Película ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f4c57db-1969-4f7d-bfd1-cef27db1a53a",
              "name": "Fotograma",
              "value": "=https://zumzeigcine.coop{{ $json.Fotograma.last() }}",
              "type": "string"
            },
            {
              "id": "150a1bad-a43d-4980-a9de-357fa04d8820",
              "name": "Reparto CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "a1e780c6-c6e0-43ea-9710-4c8f5884ab84",
              "name": "Reparto ENG",
              "value": "=",
              "type": "string"
            },
            {
              "id": "ddaefa08-f42c-4ef9-b38d-92d9980ac939",
              "name": "Cartelera",
              "value": "=",
              "type": "string"
            },
            {
              "id": "87529dc5-1f00-4ba6-8c16-3880ca1162d9",
              "name": "Género CAT",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c20a0944-9341-497b-80a9-943cc91a63a5",
              "name": "Género ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "d9ee5e86-9ea7-4857-a26d-ff9ca65c7514",
              "name": "Trailer",
              "value": "={{ $json.Trailer }}",
              "type": "string"
            },
            {
              "id": "4f93d667-181e-4032-b51b-2b6116fbda47",
              "name": "Sinopsis CAT",
              "value": "={{ $json[\"Sinopsis CAT\"].replaceAll('\\n',' ') }}",
              "type": "string"
            },
            {
              "id": "3310a137-8086-4ac1-aac6-938b86228633",
              "name": "Sinopsis ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "faf23e8d-8a7e-4784-bf48-ef8881544b72",
              "name": "Imagen CAS",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "3db5a256-4371-44f8-b5b8-3b439ba3856f",
              "name": "Idioma CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][5].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "35c8ee5c-f687-43f9-a603-30869226cf64",
              "name": "Idioma ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "16e07198-6431-41cc-90a6-d6567db8ddd5",
              "name": "País CAT",
              "value": "={{ $json[\"Ficha Tecnica CAT\"][4].split(': ')[1] }}",
              "type": "string"
            },
            {
              "id": "f91c77c4-efa4-46ef-864f-76702add1a4d",
              "name": "País ENG",
              "value": "",
              "type": "string"
            },
            {
              "id": "55ed54d7-3762-474e-aeac-20b18830746f",
              "name": "Imagen CAT",
              "value": "Color",
              "type": "string"
            },
            {
              "id": "8e5ed8ec-edca-486e-bd8a-42412276e4f8",
              "name": "Imagen ENG",
              "value": "Colour",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        440
      ],
      "id": "d61b2b7e-0ad3-483e-8806-dba448ef9ad8",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/es/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        460
      ],
      "id": "c8af5cba-75c3-4882-a78a-52f71fe7a7d9",
      "name": "Zumzeig Peliculas"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Titulo CAT",
              "cssSelector": "h1"
            },
            {
              "key": "Sinopsis CAT",
              "cssSelector": "#content > div:nth-child(4) > div.rowcontent.col-md-6 > p"
            },
            {
              "key": "Ficha Tecnica CAT",
              "cssSelector": "#content > div:nth-child(7) > div.rowcontent.col-md-6 > p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "id": "f65b3d41-37dc-4fd3-8f90-7e724256ebf9",
      "name": "HTML1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1240,
        440
      ],
      "id": "7d617ace-687c-484d-bf23-7e73eef47ebe",
      "name": "Merge7"
    },
    {
      "parameters": {
        "url": "=https://zumzeigcine.coop/{{ $json.Peliculas }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        300
      ],
      "id": "656a5fea-a883-4d26-b66c-7d7713470daf",
      "name": "Zumzeig Peliculas CAT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e538af-7f7c-40f2-b813-eb8eedd39c66",
              "name": "Idioma ENG",
              "value": "={{ $json.text.split(';')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "b73d5bfb-43dc-42ea-9dea-f7036718ee15",
              "name": "País ENG",
              "value": "={{ $json.text.split(';')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "47f35658-2f5a-4203-8347-e4e4ae8b8e26",
              "name": "Sinopsis ENG",
              "value": "={{ $json.text.split(';')[2].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        280
      ],
      "id": "b0fd272d-a1a7-4bae-afc8-b139f261f34b",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2400,
        420
      ],
      "id": "188d4ac5-f1a7-4fcf-ad81-030da0a9d34e",
      "name": "Merge8"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1860,
        360
      ],
      "id": "4b642a37-e382-4df5-9d95-a7b70d3226dc",
      "name": "Wait3",
      "webhookId": "e78b7a8c-7e45-425b-8c5f-13ad0c76d2bd"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "Peliculas",
              "cssSelector": "div.peli-item>div.zitem>div.overlay>div.text>a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        620,
        100
      ],
      "id": "b47b0298-7688-4b06-86db-12d136612b39",
      "name": "HTML2"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -40,
        100
      ],
      "id": "866ad11b-b868-4d01-9510-a0d87d9f9c9f",
      "name": "Selenium OcinePeliculas"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        180,
        100
      ],
      "id": "754bdc23-fd85-42b4-aecf-b1eda2d2c80e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "python3 mooby-request.py https://www.ocinemagic.es/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1060,
        100
      ],
      "id": "8f2a1690-b6cf-4907-8f3d-686052750de0",
      "name": "Selenium OcinePeliculas1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Peliculas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        840,
        100
      ],
      "id": "8c643c51-6245-41ae-88a9-6dcf9866f93d",
      "name": "Split Out10"
    },
    {
      "parameters": {
        "jsCode": "const bloques = items[0].json.BloquesPeliculas || [];\n\nconst resultado = [];\n\nfor (const bloque of bloques) {\n  // Extraer título\n  const tituloMatch = bloque.match(/<h2 class=\"filmtitle.*?\">(.*?)<span class=\"spacer\">/s);\n  const titulo = tituloMatch ? tituloMatch[1].trim() : \"Título no disponible\";\n\n  // Extraer todas las sesiones con fecha y hora\n  const sesionesMatch = bloque.match(/<div class=\"session\">.*?<\\/div>/gs);\n  const sesionesCompletas = sesionesMatch ? sesionesMatch.map(session => {\n    // Extraer día y hora\n    const diaHoraMatch = session.match(/>([^<]+)</);\n    if (diaHoraMatch) {\n      const [dia, hora] = diaHoraMatch[1].trim().split(' ');\n      return `${dia} ${hora}`; // Mantener día y hora juntos\n    }\n    return \"Sesión no disponible\";\n  }) : [\"Sesión no disponible\"];\n\n  // Formatear las sesiones como una cadena separada por punto y coma\n  const sesionesFormateadas = sesionesCompletas.join('; ');\n\n  // Agregar al resultado\n  resultado.push({\n    json: {\n      \"Nombre Pelicula CAS\": titulo,\n      \"Fechas\": sesionesFormateadas, // Ahora incluye día y hora\n      \"Horario\": sesionesCompletas // Mantener como array para procesamiento posterior\n    }\n  });\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        320
      ],
      "id": "0601e7d4-e46d-404b-8f2e-46eb782a08ac",
      "name": "Code1"
    },
    {
      "parameters": {
        "text": "={{$json[\"titlesToTranslate\"].join(\"\\n\")}}",
        "translateTo": "EN-US",
        "additionalFields": {
          "sourceLang": ""
        }
      },
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        3900,
        1040
      ],
      "id": "ddeec449-ada1-43fd-a585-f25961ae8ecd",
      "name": "DeepL",
      "credentials": {
        "deepLApi": {
          "id": "cS9jwaYtHjaEoUpC",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer item\nconst item = items[0].json; // Acceder al primer item\n\n// Verificar si hay datos originales\nif (!item || Object.keys(item).length === 0) {\n    throw new Error(\"No original data found.\");\n}\n\n// Obtener el texto traducido\nconst translatedText = $json[\"text\"] || \"\"; // Asegúrate de que sea una cadena\n\n// Verificar si hay texto traducido\nif (!translatedText) {\n    throw new Error(\"No translated text found in the response.\");\n}\n\n// Dividir el texto en un array de títulos\nconst translatedTitles = translatedText.split('\\n').map(title => title.trim()).filter(title => title !== '');\n\n// Combinar las traducciones con los datos originales\nconst output = {\n    ...item, // Copia todos los datos originales\n    \"Nombre Película ENG\": translatedTitles[0] || \"\", // Agrega la traducción correspondiente\n};\n\n// Devolver el objeto combinado\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4120,
        1020
      ],
      "id": "fb9c9f65-3420-450d-b25e-610119b1753f",
      "name": "Code2"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Mooby Cinemas Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filtro href Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filtro href peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cinema Malda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mooby Cinemas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phenomena Experience",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Zumzeig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mooby Cinemas Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Mooby Cinemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href Peliculas": {
      "main": [
        [
          {
            "node": "Cinema Malda Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro href peliculas": {
      "main": [
        [
          {
            "node": "Phenomena Experience Peliculas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cinema Malda Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Malda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phenomena Experience Peliculas": {
      "main": [
        [
          {
            "node": "Extraer datos Phenomena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Mooby Cinemas": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Phenomena": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DeepL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "HTML Extract13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract9": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Selenium Arenas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Aribau",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Bosque",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Glories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Sarria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Selenium Balmes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract13": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos Malda": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTML Extract9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "HTML Extract15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract11": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract15": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "HTML Extract11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "HTML Extract16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract12": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract16": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "HTML Extract12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "HTML Extract18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract17": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract18": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "HTML Extract17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "HTML Extract20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract19": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract20": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "HTML Extract19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "HTML Extract22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract21": {
      "main": [
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract22": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "HTML Extract21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Aribau": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Arenas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Balmes": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Bosque": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Glories": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium Sarria": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Zumzeig": {
      "main": [
        [
          {
            "node": "HTML Extract3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zumzeig Peliculas": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zumzeig Peliculas CAT": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selenium OcinePeliculas": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Split Out10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out10": {
      "main": [
        [
          {
            "node": "Selenium OcinePeliculas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Zumzeig Peliculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zumzeig Peliculas CAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4aead8d7-2419-491a-bf2a-1accf5187db9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "303e4cb016a65662dd6f090c618deea51b7977fd15c37980f25bf54cbb1bb486"
  },
  "id": "bbXg0AOZ9RyVsnWO",
  "tags": []
}